<div class="lyrow dragitem">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
    <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

    <div class="preview">
         <img width="200" height="120" src="elements/social/social.jpg" />
    </div>
    <div class="view">
        <div class="row clearfix">
            <table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: #FFFFFF" data-type="social-links">
                <tbody>
                    <tr>
                        <td class="social" align="center" style="padding: 15px 50px 15px 50px;">
                            <a href="#" style="border: none;" class="facebook">
                                <img border="0" src="elements/social/facebook.png" />

                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="twitter">

                                <img border="0" src="elements/social/twitter.png"/>


                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="linkedin">

                                <img  border="0" src="elements/social/linkedin.png"/>


                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="youtube">

                                <img border=0 src="elements/social/youtube.png"/>


                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="pinterest">

                                <img border=0 src="elements/social/pinterest.gif"/>


                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="instagram">

                                <img border=0 src="elements/social/instagram.jpg"/>


                            </a>
                            <a href="#" style="border: none;text-decoration: none" class="google-plus">

                                <img border=0 src="elements/social/googleplus.png"/>


                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
