<!--<script>
    $(document).ready(function () {
        var src = path + $("#imgVideoPreview").attr("src");
        $("#imgVideoPreview").attr("src", src);
    });
</script>-->
<div class="lyrow dragitem">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
    <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

    <div class="preview">
        <img width="200" height="120" src="elements/video/video1.jpg" />
    </div>
    <div class="view">
        <div class="row clearfix">
            <table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: #FFFFFF" data-type="video">
                <tbody>
                    <tr>
                        <td class="video" align="center" style="padding: 15px 50px 15px 50px;">
                            <a class="link" href="#" data-link=""><img align="one_image" style="display:block;max-width:640px" width="500" height="320" class="imgVideoPreview" src="dragdrop/images/logo-flying.png" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
