

    

    
        <!-- inizio parte html da salvare -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: #eeeeee">
            <tbody><tr>
                <td width="100%" id="primary" class="main demo" align="center" valign="top" style="min-height: 478px;">
                    <!-- inizio contentuto      -->

                    <div class="lyrow">
                        <div class="view">
                            <div class="row clearfix">
                                <!-- Content starts here-->
                                <div class="footer-data">
                                        <p>
                                            <a href="%Link:Unsubscribe%">Unsubscribe</a>

                                            <a style="margin-left: 15px" href="%Link:WebBrowser%">View In Web Browser</a>
                                        </p>
                                    </div><table width="640" class="preheader" align="center" cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                    
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="column ui-sortable">

                        <!-- default element text -->
                        <div class="lyrow ui-draggable" style="display: block;">
   <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
   <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
   <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

   <div class="preview">
       <img src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/image/image.jpg" width="200">
   </div>
   <div class="view">
       <div class="row clearfix">
           <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="bf0faf15-7173-a584-b0d4-b4ecc84d4521">
               <tbody>
                   <tr>
                       <td align="center" style="padding: 10px 20px;" class="image">
                               <a class="link" href="http://shop.4newmum.com/" data-link=""><img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://app.flyinglist.com/data/dragdrop/images//4newmum banner.jpg" tabindex="0" id="6f77cda7-d35e-4872-4190-ca752b6af0fc" width="550px" height="120px"></a>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
   </div>
</div>


                        <div class="lyrow ui-draggable" style="display: block;">
   <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
   <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
   <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

   <div class="preview">
       <img src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/image/image.jpg" width="200">
   </div>
   <div class="view">
       <div class="row clearfix">
           <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="aa1658a6-bbe8-aaa9-1c60-6ab1a4179ced">
               <tbody>
                   <tr>
                       <td align="center" style="padding:15px 50px 15px 50px;" class="image">
                               <a class="link" href="#" data-link=""><img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://app.flyinglist.com/data/dragdrop/images//2.jpg" tabindex="0" id="6c11a271-8273-7d04-b429-7d30787b7aab" width="520px" height="50px"></a>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
   </div>
</div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; left: 0px; top: 0px;">
     <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
     <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
     <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

     <div class="preview">
          <img src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/image/image2txt.jpg" width="200">
     </div>
     <div class="view">
         <div class="row clearfix">
             <table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="imgtxtincol" id="ab1c45eb-9229-957c-9e42-b061525ffa39">
                 <tbody>
                     <tr>
                         <td>
                             <table class="main" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640" id="ab1c45eb-9229-957c-9e42-b061525ffa39" style="display: table;">
                                 <tbody>
                                     <tr>
                                         <td class="image-caption" style="padding: 0px 50px 0px 50px;">
                                             <table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
                                                 <tbody>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<a class="link"><img src="https://app.flyinglist.com/data/dragdrop/images//top.jpg" alt="" style="display: block; border: none;" height="154px" align="2" border="0" width="255px" id="a470cf51-24ee-5ef8-2a3b-3c8a86ddaf79" class=""></a>                                                                                    </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
                                                             <p style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""></p><div style="text-align: right;"><span class="Normal-C-C5">Ø§Ø¦Ù…Ø© Ø£Ù‡Ù… Ø§Ù„Ø£ØºØ±Ø§Ø¶ Ø§Ù„ØªÙŠ ÙŠØ¬Ø¨ Ø£Ù† ØªØ¶Ø¹ÙŠÙ‡Ø§ ÙÙŠ Ø´Ù†Ø·Ø© Ø§Ù„Ù…Ø³ØªØ´Ø´ÙÙ‰</span></div>
<div style="text-align: right;"><span class="Normal-C">&nbsp;</span></div>
<div style="text-align: right;"><span class="Normal-C-C5">Ø§Ø­ØªÙŠØ§Ø¬Ø§Øª Ø§Ù„Ù…ÙˆÙ„ÙˆØ¯</span></div>
<div style="text-align: right;"><span class="Normal-C">&nbsp;&nbsp;&nbsp;</span><span class="Normal-C-C5">Ø§Ù„Ø´ØªØ§Ø¡</span></div>
<div style="text-align: right;"><span class="Normal-C">Ø¹Ø¯Ø¯ Ø«Ù„Ø§Ø«Ø© ÙØ§Ù†Ù„Ù‡ Ø¨ÙƒÙ…</span></div>
<div style="text-align: right;"><span class="Normal-C">Ø¹Ø¯Ø¯ Ø«Ù„Ø§Ø«Ø© ÙØ§Ù†Ù„Ù‡ ÙƒØ§Øª</span></div>
<div style="text-align: right;"><span class="Normal-C">Ø¹Ø¯Ø¯ Ø«Ù„Ø§Ø«Ø© Ø³Ø§Ù„ÙˆØ¨ÙŠØª Ù‚Ø·Ù†ÙŠÙ‡</span></div>
<div style="text-align: right;">&nbsp;</div><p></p>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-bottom-gap" height="5" width="100%"></td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                             <table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
                                                 <tbody>
                                                     <tr>
                                                         <td class="image-caption-top-gap" height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<a class="link" href=""><img src="https://app.flyinglist.com/data/dragdrop/images//Baby Flowers.jpg" alt="" style="display: block; border: none;" height="154px" align="2" border="0" width="255px" id="58949570-1bbc-ed7e-bd80-ca8f03f49f00" class=""></a>                                                                                    </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
                                                             <p style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""></p><p class="" style="border: none;">SOYBAS, founded in 1961 is one of the oldest and biggest steel trading and stockist company in Turkey.&nbsp;</p>
<p>Thanks to our strong and long-term relations with all major&nbsp;Turkey.&nbsp;&nbsp;steel producers, we will be glad to offer you the best prices and delivery terms for all your steel inquiries.</p><p></p>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5" width="100%"></td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div><div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; left: 0px; top: 0px;">
     <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
     <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
     <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

     <div class="preview">
          <img src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/image/image2txt.jpg" width="200">
     </div>
     <div class="view">
         <div class="row clearfix">
             <table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="imgtxtincol" id="8353ef5b-87cf-8c6b-cdb0-aaf710ee580f">
                 <tbody>
                     <tr>
                         <td>
                             <table class="main" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="640" id="8353ef5b-87cf-8c6b-cdb0-aaf710ee580f" style="display: table;">
                                 <tbody>
                                     <tr>
                                         <td class="image-caption" style="padding: 0px 50px 0px 50px;">
                                             <table class="image-caption-column" align="left" border="0" cellpadding="0" cellspacing="0" width="255">
                                                 <tbody>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<a class="link"><img src="https://app.flyinglist.com/data/dragdrop/images//Baby-Boy-Footprints.jpeg" alt="" style="display: block; border: none;" height="154px" align="2" border="0" width="255px" id="d166a65d-c1c0-bb12-4527-e7f86cd29cc8" class=""></a>                                                                                    </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
                                                             <p style="margin: 0px 0px 10px; line-height: 22px; border: none;" class="">We can work together as&nbsp; the following:<br>By offering prices from SOYBAS warehouse<br>By offering prices from factories warehouse<br>By offering prices of factory production<br>In the case of increasing the inquiry required for 3000 tons, We can work on commission basis&nbsp;<br><br>&nbsp;</p>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-bottom-gap" height="5" width="100%"></td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                             <table class="image-caption-column" align="right" border="0" cellpadding="0" cellspacing="0" width="255">
                                                 <tbody>
                                                     <tr>
                                                         <td class="image-caption-top-gap" height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content image" style="font-family: Arial; font-size: 13px; color: #000000;">
<a class="link" href=""><img src="https://app.flyinglist.com/data/dragdrop/images//new baby boy.jpg" alt="" style="display: block; border: none;" height="154px" align="2" border="0" width="255px" id="cbebc7e5-2ca7-fde2-fa35-885b3764e171" class=""></a>                                                                                    </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="15" width="100%"></td>
                                                     </tr>
                                                     <tr>
                                                         <td class="image-caption-content text" style="font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;" align="left">
                                                             <p style="margin: 0px 0px 10px; line-height: 22px; border: none;" class=""></p><div style="text-align: right;">Ù„Ø§Ø²Ù… ØªØªØ£ÙƒØ¯ÙŠ Ø£Ù† Ø§Ù„Ù…Ø´Ù…Ø¹ Ø§Ù„ØªØºÙŠÙŠØ± Ù†Ø¸ÙŠÙ Ùˆ Ø§Ù„Ù…ÙƒØ§Ù† Ø§Ù„Ù„ÙŠ Ù‡ØªÙ‚ÙˆÙ…ÙŠ Ø¨ØªØºÙŠØ±Ø¹Ù„ÙŠÙ‡</div>
<div style="text-align: right;"><span class="Normal-C-C4">Ù„Ø±Ø¶ÙŠØ¹Ùƒ Ø£Ù…Ø§Ù†ØŒ &nbsp;Ø£ÙŠØ¶Ø§ Ø£Ù† ÙƒØ§ Ù…Ø§ ØªØ­ØªØ§Ø¬ÙŠÙ†Ù‡ Ù„Ù„ØªØºÙŠØ± Ø¨Ø¬Ø§Ù†Ø¨Ùƒ</span></div>
<div style="text-align: right;"><span class="Normal-C-C4">Ù…Ø´Ù…Ø¹ Ø§Ù„ØªØºÙŠÙŠØ±</span></div>
<div style="text-align: right;"><span class="Normal-C-C4">Ø§Ù„Ø­ÙØ§Ø¶ Ø§Ù„Ù†Ø¸ÙŠÙ</span></div>
<div style="text-align: right;"><span class="Normal-C-C4">Ø§Ù„Ù‚Ø·Ù† Ùˆ Ø§Ù„Ù…Ø§Ø¡ Ø§Ù„Ø¯Ø§ÙÙŠ Ø£Ùˆ Ø§Ù„Ù…Ø§Ù†Ø¯ÙŠÙ„ Ø§Ù„Ù…Ø¨Ù„Ù„Ù‡ â€“Ø§Ù„ÙˆØ§ÙŠØ¨Ø³-</span></div>
<div style="text-align: right;"><span class="Normal-C-C4">ÙƒØ±ÙŠÙ… Ø§Ù„Ø²Ù†Ùƒ Ù„Ù…Ù†Ø¹ Ø§Ù„ØªØ³Ù„Ø®Ø§Øª</span></div>
<div style="text-align: right;"><span class="Normal-C-C4">&nbsp;</span></div><p></p>
                                                         </td>
                                                     </tr>
                                                     <tr>
                                                         <td height="5" width="100%"></td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </td>
                                     </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div><div class="lyrow ui-draggable" style="display: block;">
   <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
   <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
   <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

   <div class="preview">
       <img src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/image/image.jpg" width="200">
   </div>
   <div class="view">
       <div class="row clearfix">
           <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: rgb(255, 255, 255); display: table;" data-type="image" id="f6904ddf-a865-9b34-ec2c-3f6ed4e2d761">
               <tbody>
                   <tr>
                       <td align="center" style="padding:15px 50px 15px 50px;" class="image">
                               <a class="link" href="http://shop.4newmum.com/" data-link=""><img class="" border="0" align="one_image" style="display:block;max-width:640px" alt="" src="https://app.flyinglist.com/data/dragdrop/images//1.jpg" tabindex="0" id="07c2e513-fde3-4de8-8783-bb0ba431ce1b" width="540px" height="200px"></a>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
   </div>
</div><div class="lyrow ui-draggable" style="display: block;">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
    <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

    <div class="preview">
         <img width="200" height="120" src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/social/social.jpg">
    </div>
    <div class="view">
        <div class="row clearfix">
            <table class="main" align="center" width="640" cellspacing="0" cellpadding="0" border="0" style="background-color: rgb(255, 255, 255); display: table;" data-type="social-links" id="204b923d-6579-7408-0d91-ff759dfe470d">
                <tbody>
                    <tr>
                        <td class="social" align="center" style="padding: 15px 50px 15px 50px;">
                            <a href="https://www.facebook.com/4NewMum" style="border: none;" class="facebook" target="_blank">
                                <img border="0" src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/social/facebook.png">

                            </a>
                            <a href="https://twitter.com/4NewMUm" style="border: none;" class="twitter" target="_blank">

                                <img border="0" src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/social/twitter.png">


                            </a>
                            <a href="#" style="border: none; display: none;" class="linkedin remove">

                                <img border="0" src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/social/linkedin.png">


                            </a>
                            <a href="http://www.youtube.com/channel/UCeLWWR_gIjei78rY2KASdkA" style="border: none;" class="youtube" target="_blank">

                                <img border="0" src="https://app.flyinglist.com/templates/weefive/dragdrop/elements/social/youtube.png">


                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><div class="lyrow" style="display: block;">
                            <div class="view">
                                <div class="row clearfix">
                                    <!-- Content starts here-->
                                    <table width="640" class="preheader" align="center" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr>
                                            <td>
                                                <div class="footer-data">
                                                    <p>
                                                        2016 Â© %User:CompanyName% | %User:Street%                                                        / %User:City% , %User:Country%                                                    </p>
                                                    <p>
                                                        This email was sent to %Subscriber:EmailAddress% 
                                                    </p>
                                                    <p>
                                                        <a href="%Link:Unsubscribe%">Unsubscribe</a>
                                                    </p>
                                                    <br>
                                                    <p>
                                                        To enusre that you continue receiving our emails, Please add us to your address book
                                                    </p>
                                                    <br>
                                                    <p>
                                                        Powered by FlyingList
                                                    </p>
                                                    <p>
                                                        <a target="_blank" href="http://flyinglist.com/">
                                                            <img style="width: 190px" src="https://app.flyinglist.com/templates/weefive/assets/layouts/layout3/img/logo-flying.png" alt="logo" class="logo-default">
                                                        </a>
                                                    </p>
                                                </div>
                                            </td>
        <!--                                            <td align="left" class="preheader-text" width="420" style="padding: 15px 0px; font-family: Arial; font-size: 11px; color: #666666"></td>
                                        <td class="preheader-gap" width="20"></td>
                                        <td class="preheader-link" align="right" width="200" style="padding: 15px 0px; font-family: Arial; font-size: 11px; color: #666666">
                                            [linkcancellazione]
                                            <br/>
                                            
                                        </td>-->
                                        </tr>
                                    </tbody></table>
                                </div>
                            </div>
                        </div>

                    </div>

                </td>
            </tr>
        </tbody></table>

        



