
.sl-drop-placeholder{position:relative}.sl-drop-placeholder.sl-drop-placeholder-active>div{background:#407dab}.sl-drop-placeholder.sl-drop-placeholder-active>div:after{color:#cfe0ed}
.sl-drop-placeholder>div{background:#cfe0ed;border:2px solid #407dab;border-radius:6px;height:24px;position:absolute;top:0;width:100%}.sl-drop-placeholder>div:after{color:#407dab;content:"DROP HERE";font-family:Arial,sans-serif;font-size:12px;font-weight:bold;height:100%;left:0;line-height:24px;position:absolute;text-align:center;top:0;width:100%}
.sl-image-edit-button,.sl-block-edit-button{background:url(../images/icon-image-options.png) top left no-repeat;cursor:pointer !important;height:40px;position:absolute;width:40px;z-index:2}.sl-image-edit-button:hover,.sl-block-edit-button:hover{background-position:top right}
.sl-image-edit-button.small,.sl-block-edit-button.small{background-image:url(../images/icon-image-options-small.png);height:20px;width:20px}
.sl-image-upload-button{background:url(../images/icon-image-upload.png) top left no-repeat;cursor:pointer !important;height:40px;position:absolute;width:40px;z-index:2}.sl-image-upload-button:hover{background-position:top right}
.sl-image-upload-button.small{background-image:url(../images/icon-image-upload-small.png);height:20px;width:20px}
.sl-image-overlay,.sl-block-overlay{background:rgba(64,125,171,0.75);position:absolute;z-index:1}
.sl-content-block-edit{cursor:pointer;position:absolute;z-index:1}.sl-content-block-edit:hover{background:rgba(64,125,171,0.19999999999999996)}
.sl-content-block-remove{background:url(../images/icon-block-remove.png) top left no-repeat;cursor:pointer;height:31px;position:absolute;width:31px;z-index:3}.sl-content-block-remove:hover{background-position:top right}
.sl-content-block-order{background:url(../images/icon-block-order.png) top left no-repeat;cursor:pointer;height:31px;position:absolute;width:31px;z-index:3}.sl-content-block-order:hover{background-position:top right}
.sl-content-block-overlay{background:rgba(64,125,171,0.19999999999999996);border:2px solid #407dab;border-radius:6px;-moz-box-shadow:0 0 8px 0 rgba(64,125,171,0.5),inset 0 0 8px 0 rgba(64,125,171,0.5);-webkit-box-shadow:0 0 8px 0 rgba(64,125,171,0.5),inset 0 0 8px 0 rgba(64,125,171,0.5);box-shadow:0 0 8px 0 rgba(64,125,171,0.5),inset 0 0 8px 0 rgba(64,125,171,0.5);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;position:absolute}
.sl-block-resize-handle{background:url(../images/icon-column-resize.png) top left no-repeat;cursor:ew-resize;height:147px;position:absolute;width:40px;z-index:99}.sl-block-resize-handle:hover{background-position:top right}
.sl-content-block-image-drop-zone-placeholder{background:rgba(64,125,171,0.6);position:absolute;z-index:1000}.sl-content-block-image-drop-zone-placeholder .sl-image-preloader{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;border:2px solid #fff;left:2.5%;height:25%;position:absolute;top:40%;width:95%}.sl-content-block-image-drop-zone-placeholder .sl-image-preloader>div{background:#fff;height:100%;left:0;position:absolute;top:0;width:0}
.sl-content-block-image-drop-zone-placeholder.active{background:rgba(64,125,171,0.9)}
.sl-block-resize-tooltip{background:#407dab;border-radius:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;color:#cfe0ed;font-family:Arial,sans-serif;font-size:12px;height:20px;line-height:20px;padding:0 5px;position:absolute;text-align:center;width:50px;z-index:99}
.sl-content-block-order-placeholder{background:rgba(64,125,171,0.8);border:2px solid #407dab;border-radius:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;position:absolute}
.sl-content-block-order-ghost{border-radius:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;position:absolute}
.sl-content-block-order-dummy{position:absolute;z-index:100}.sl-content-block-order-dummy div{background:#cfe0ed;border:2px solid #407dab;border-radius:6px;height:24px;position:relative;top:-12px}.sl-content-block-order-dummy div:after{color:#407dab;content:"MOVE HERE";font-family:Arial,sans-serif;font-size:12px;font-weight:bold;height:100%;left:0;line-height:24px;position:absolute;text-align:center;top:0;width:100%}
.sl-content-block-order-dummy:hover div,.sl-content-block-order-dummy.active div{background:#407dab}.sl-content-block-order-dummy:hover div:after,.sl-content-block-order-dummy.active div:after{color:#cfe0ed}
[contenteditable].cke_focus{outline:2px solid #407dab;outline-offset:10px}
