<div class="lyrow dragitem">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>

    <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

    <div class="preview">
      <img width="200" height="120" src="elements/text/txt1.jpg" />
    </div>
    <div class="view">
        <div class="row clearfix">
            <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" style="background-color:#FFFFFF" align="center" data-type='text-block'>
                <tbody>
                    <tr>
                        <td class="block-text" data-clonable="true" align="left" style="padding:10px 50px 10px 50px;font-family:Arial;font-size:13px;color:#000000;line-height:22px">
                            <div style="margin:0px 0px 10px 0px;line-height:22px">This is a Text Block! Click on this text to edit it. You can add content easily by dragging content blocks from the right sidebar. Drag this and other blocks around to re-order them.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
