<div class="lyrow dragitem">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-trash glyphicon"></i></a>
    <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>
    <div class="preview">
      <img width="200" height="120" src="elements/title/title.jpg" />
    </div>
    <div class="view">
        <div class="row clearfix">
            <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color:#FFFFFF;" data-type="title">
                <tbody>
                    <tr>
                        <td align="left" class="title" style="padding:5px 50px 5px 50px">
                            <h1 style="font-family:Arial"> Enter your Title here! </h1>
                            <h4 style="font-family:Arial">Your Subtitle</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
