<div class="lyrow dragitem">
       <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
       <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
       <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

       <div class="preview">
            <img src="elements/image/imagelefttxt.jpg" width="200" />
       </div>
       <div class="view">
           <div class="row clearfix">
               <table class="main" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center" style="background-color:#FFFFFF;" data-type="imgtxtcol">
                   <tbody>
                       <tr>
                           <td class="image-text" align="left" style="padding: 15px 50px 10px 50px; font-family: Arial; font-size: 13px; color: #000000; line-height: 22px;">
                               <table class="image-in-table" width="190" align="left">
                                   <tbody>
                                       <tr>
                                           <td class="gap" width="30"></td>
                                           <td width="160">
                                               <a class="link"><img   border="0"  align="left" src="elements/image/350-150.png" style="display: block;margin: 0px;max-width: 340px"></a>                                                                    </td>
                                       </tr>
                                   </tbody>
                               </table>

                               <table width="190">
                                   <tbody>
                                       <tr>
                                           <td class="text-block"  >
                                               <p style="margin-left:10px; line-height: 22px;">
                                                   Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                               </p>
                                           </td>
                                       </tr>
                                   </tbody>
                               </table>
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
