<div class="lyrow dragitem">
   <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
   <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
   <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

   <div class="preview">
       <img src="elements/image/image.jpg" width="200"/>
   </div>
   <div class="view">
       <div class="row clearfix">
           <table width="640" class="main" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color:#FFFFFF;" data-type="image">
               <tbody>
                   <tr>
                       <td align="center" style="padding:15px 50px 15px 50px;" class="image">
                               <a class="link" href="#" data-link=""><img class=""  border="0"  align="one_image" style="display:block;max-width:640px" alt="" src="elements/image/350-150.png" tabindex="0"></a>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>
   </div>
</div>
