@mainColor: #a8cbe9;
@lightColor: lighten(@mainColor, 10%);
@darkColor: darken(@mainColor, 1%);
@secondColor: #0077CC;
@lightSecondColor: lighten(@secondColor, 30%);
@darkSecondColor: darken(@secondColor, 30%);

body {
	background: #f0f0f0;
	background-repeat: no-repeat;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0 !important;
	a {
		text-decoration: none;
	}
}

#page-code-editor {
	background: @lightColor url(../images/big-icon@2x.png) 105% 58% no-repeat;
	margin: 0 auto;
	min-width: 980px;
}
#page-code-editor-header {
	background: transparent;
	min-width: 1000px;
	padding: 16px 8px 8px 8px;
	position: relative;
	.button-container {
		background: @secondColor;
		border-bottom-left-radius: 4px;
		padding: 8px;
		position: absolute;
		right: 0;
		top: 0;
		a {
			background: @darkSecondColor;
			border-radius: 3px;
			-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.15), inset 0px 14px 0px 0px rgba(255,255,255,0.31);
			-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.15), inset 0px 14px 0px 0px rgba(255,255,255,0.31);
			box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.15), inset 0px 14px 0px 0px rgba(255,255,255,0.31);
			color: white;
			display: inline-block;
			float: left;
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			height: 27px;
			line-height: 27px;
			overflow: hidden;
			padding: 0 8px;
			position: relative;
			span {
				background: url(../images/form-popup-loading.gif) top left repeat;
				color: #616265;
				display: none;
				font-size: 11px;
				height: 100%;
				left: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 100%;
				&.success {
					background: #d0e1ac;
				}
				&.fail {
					background: #d99b9c;
				}
			}
			&.loading {
				cursor: default;
				span.loading {
					display: block;
				}
			}
			&.success {
				cursor: default;
				span.success {
					display: block;
				}
			}
			&.fail {
				cursor: default;
				span.fail {
					display: block;
				}
			}
			&.disabled {
				background: @mainColor !important;
				box-shadow: inset 0 3px 1px fade(@secondColor, 50%);
				line-height: 29px;
				text-decoration: none !important;
			}
			& + a {
				margin-left: 8px;
			}
			&:hover {
				background: darken(@darkSecondColor, 10%);
				text-decoration: none !important;
			}
			&.primary {
				background: white;
				color: black;
				&:hover {
					background: @mainColor;
				}
			}
			&.secondary {
				background: transparent;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				color: @mainColor;
				&:hover {
					background: fade(@mainColor, 20%);
				}
			}
		}
	}
	.error-container {
		background: #d99b9c;
		border-radius: 4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		color: @secondColor;
		display: none;
		font-size: 12px;
		font-weight: bold;
		line-height: 17px;
		max-width: 237px;
		min-height: 17px;
		padding: 8px 16px;
		position: absolute;
		right: 0;
		top: 45px;
		a {
			color: darken(@secondColor, 10%);
			text-decoration: underline;
		}
	}
	.page-editor-header-form-row {
		clear: both;
		height: 27px;
		label {
			display: inline-block;
			float: left;
			font-family: Monaco, monospace;
			font-size: 12px;
			line-height: 27px;
			margin-right: 8px;
			text-align: right;
			width: 62px;
		}
		input[type="text"] {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			background: white;
			border: 1px solid @darkColor;
			border-radius: 3px;
			color: black;
			cursor: pointer;
			display: inline-block;
			font-family: Arial, sans-serif;
			font-size: 12px;
			height: 27px;
			line-height: 27px;
			margin: 0 8px 0 0;
			min-width: 310px;
			padding: 0 8px;
		}
		.page-editor-input-sidekick {
			color: black;
			font-size: 11px;
			height: 27px;
			line-height: 27px;
			position: relative;
			a {
				color: darken(@darkColor, 45%);
			}
			select {
				cursor: pointer;
				left: 0;
				position: absolute;
				top: -5px;
				width: 120px;
				-webkit-opacity: 0;
				-moz-opacity: 0;
				-ms-opacity: 0;
				opacity: 0;
			}
			&.error {
				color: red;
				font-weight: bold;
			}
		}
		& + .page-editor-header-form-row {
			margin-top: 8px;
		}
	}
}
#page-code-editor-tab-container {
	background: transparent;
	height: 27px;
	padding: 0 8px 0 78px;
	a {
		background: lighten(@lightColor, 4%);
		border-radius: 3px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border: 1px solid @darkColor;
		border-bottom: none;
		color: black;
		float: left;
		font-size: 12px;
		height: 26px;
		line-height: 26px;
		padding: 0 12px;
		position: relative;
		z-index: 92;
		& + a {
			margin-left: 8px;
		}
		&:hover {
			background: lighten(@lightColor, 6%);
			text-decoration: none !important;
		}
		&.selected {
			background: white;
			height: 27px;
			line-height: 26px;
			&:hover {
				background: white;
			}
		}
	}
}
.page-code-editor-tab-content {
	background: white;
	display: none;
	overflow: auto;
	position: absolute;
	width: 100%;
	.block-tooltip {
		background: @secondColor;
		border-radius: 2px;
		color: @mainColor;
		display: none;
		font-size: 10px;
		height: 22px;
		left: 80px;
		line-height: 22px;
		min-width: 50px;
		padding: 0 8px 0 4px;
		position: absolute;
		top: 0;
		z-index: 92;
		&:after {
			border: 11px solid transparent;
			border-right: 11px solid @secondColor;
			border-left: none;
			content: " ";
			height: 0;
			left: -11px;
			position: absolute;
			top: 0;
			width: 0;
			z-index: 93;
		}
	}

	iframe {
		left: 0;
		position: absolute;
		top: 38px;
		width: 100%;
		&#page-code-editor-builder-iframe {
			left: 79px;
		}
	}
	.page-code-editor-tab-content-form-container {
		margin-top: 18px;
		padding-left: 78px;
		width: 500px;
	}
	.page-code-editor-tab-toolbar {
		border-bottom: 1px solid @darkColor;
		border-top: 1px solid @darkColor;
		height: 36px;
		line-height: 36px;
		padding: 0 8px 0 78px;
		position: relative;
		z-index: 91;
		&.hidden {
			border-bottom: none;
			height: 1px;
		}
		& > a,
		& > .toolbar-button-group,
		div.with-drop > a, {
			border: 1px solid @mainColor;
			border-radius: 2px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			color: darken(@darkColor, 45%);
			float: left;
			line-height: 21px;
			height: 21px;
			margin-top: 7px;
			padding: 0 8px;
			position: relative;
			&:hover {
				background: @lightColor;
				text-decoration: none !important;
			}
			& + a,
			& + div.with-drop,
			& + div.toolbar-button-group {
				margin-left: 8px;
			}
			span {
				background: url(../images/form-popup-loading.gif) top left repeat;
				display: none;
				height: 100%;
				left: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 100%;
			}
			&.loading {
				cursor: default;
				span {
					display: block;
				}
			}
		}
		div.toolbar-button-group {
			float: right;
			padding-left: 0;
			padding-right: 0;
			&:hover {
				background: white;
				a {
					text-decoration: none;
				}
			}
			& > a {
				color: darken(@darkColor, 45%);
				float: left;
				line-height: 19px;
				padding: 0 8px;
				&.selected {
					background: @lightColor;
					&:hover {
						text-decoration: none !important;
					}
				}
				& + a {
					border-left: 1px solid @lightColor;
				}
			}
		}
		div.with-drop {
			float: left;
			margin-top: 7px;
			position: relative;
			& + div.with-drop,
			& + a {
				margin-left: 8px;
			}
			& > a {
				margin-top: 0;
				padding-right: 24px;
				&:after {
					border: 5px solid transparent;
					border-bottom: none;
					border-top: 5px solid darken(@darkColor, 45%);
					content: " ";
					height: 0;
					position: absolute;
					right: 8px;
					top: 7px;
					width: 0;
				}
			}
			ul {
				background: white;
				border: 1px solid @darkColor;
				border-radius: 2px;
				box-shadow: 0px 2px 4px 0px @darkColor;	
				display: none;
				left: 0;
				list-style: none;
				margin: 0;
				overflow: auto;
				padding: 0;
				position: absolute;
				top: 20px;
				width: 300px;
				z-index: 90;
				li {
					height: 21px;
					line-height: 21px;
					margin: 0;
					padding: 0;
					& + li {
						border-top: 1px solid @lightColor;
					}
					a {
						border-radius: 1px;
						color: darken(@darkColor, 45%);
						display: block;
						height: 21px;
						line-height: 21px;
						padding: 0 8px;
						&:hover {
							background: @lightColor;
							text-decoration: none !important;
						}
						span {
							color: @darkColor;
							float: right;
							font-size: 10px;
						}
					}
				}
			}
			&.open {
				& > a {
					background: @darkColor;
				}
				ul {
					display: block;
				}
			}
		}
	}
	.page-code-editor-tab-sidebar {
		background: white;
		border-right: 1px solid @darkColor;
		height: 100%;
		// overflow: auto;
		position: absolute;
		top: 37px;
		width: 78px;
		z-index: 91;
		.block-folder-contents {
			background: @lightColor;
			border-bottom-right-radius: 6px;
			border: 1px solid @mainColor;
			display: none;
			left: 78px;
			min-height: 286px;
			min-width: 190px;
			position: absolute;
			top: 0px;
			z-index: 2;
			h2 {
				color: darken(@darkColor, 40%);
				font-size: 14px;
				font-weight: normal;
				margin: 20px 10px 0 10px;
				text-align: center;
			}
			p {
				color: darken(@darkColor, 20%);
				font-size: 10px;
				font-weight: normal;
				line-height: 14px;
				margin: 3px 10px 15px 10px;
				text-align: center;
			}
			& > div {
				background: url(../images/icon-block-frame-sprite.png) top left no-repeat;
				color: darken(@darkColor, 40%);
				float: left;
				font-size: 11px;
				height: 45px;
				line-height: 14px;
				margin-left: 17px;
				margin-top: 5px;
				overflow: hidden;
				padding-top: 66px;
				position: relative;
				text-align: center;
				width: 66px;
				&:hover {
					background-position: -80px 0;
				}
				.label-container {
					color: darken(@darkColor, 20%);
				}
				.icon-container {
					background: url(../images/icon-block-sprite.png) top left no-repeat;
					cursor: -moz-grab;
					cursor: -webkit-grab;
					cursor: grab;
					height: 60px;
					left: 0;
					position: absolute;
					top: 0;
					width: 66px;
					&.text { background-position: 0 -60px; }
					&.text-with-image-on-left { background-position: 0 0; }
					&.text-with-image-on-right { background-position: 0 -180px; }
					&.text-with-image-on-top { background-position: 0 -240px; }
					&.two-column-text { background-position: 0 -120px; }
					&.blockquote { background-position: 0 -300px; }
					&.one-column-gallery { background-position: 0 -360px; }
					&.two-column-gallery { background-position: -66px 0; }
					&.three-column-gallery { background-position: -66px -60px; }
					&.divider { background-position: -66px -120px; }
					&.spacer { background-position: -66px -180px; }
					&.call-to-action { background-position: -66px -240px; }
					&.form { background-position: -66px -300px; }
					&.video { background-position: -66px -360px; }
				}
			}
		}
		.page-code-editor-builder-block-folder {
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			-webkit-box-sizing: boder-box;
			-moz-box-sizing: boder-box;
			-ms-box-sizing: boder-box;
			-o-box-sizing: boder-box;
			box-sizing: boder-box;
			display: block;
			height: 70px;
			position: relative;
			width: 79px;
			z-index: 3;
			.block-folder-icon {
				background: url(../images/icon-block-folder-sprite.png) top left no-repeat;
				height: 50px;
				left: 8px;
				position: absolute;
				top: 10px;
				width: 62px;
				&.block-folder-base {
					background-position: 0px -200px;
				}
			}
			.block-folder-abc { background-position: 0px 0px; }
			.block-folder-media { background-position: 0px -50px; }
			.block-folder-buttons { background-position: 0px -100px; }
			.block-folder-other { background-position: 0px -150px; }
			&:hover,
			&.hover {
				background: @lightColor;
				border-top: 1px solid @mainColor;
				border-bottom: 1px solid @mainColor;
				.block-folder-base { background-position: -62px -200px; }
				.block-folder-abc { background-position: -62px 0; }
				.block-folder-media { background-position: -62px -50px; }
				.block-folder-buttons { background-position: -62px -100px; }
				.block-folder-other { background-position: -62px -150px; }
			}
		}
	}

	#page-code-editor-source,
	#page-code-editor-plain {
	}
}

.form-popup-overlay {
	background: fade(@mainColor, 60%);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.form-popup {
	border-radius: 3px;
	background: white;
	-moz-box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);
	-webkit-box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);
	box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);	
	display: none;
	padding: 12px;
	position: absolute;
	z-index: 100;
	.form-popup-arrow {
		border: 10px solid transparent;
		border-top: none;
		border-bottom: 10px solid white;
		height: 0;
		left: 20px;
		position: absolute;
		top: -10px;
		width: 0;
	}
	.form-popup-loading,
	.form-popup-success {
		display: none;
		background: url(../images/form-popup-loading.gif) top left repeat;
		bottom: 12px;
		color: white;
		font-size: 11px;
		font-weight: bold;
		height: 32px;
		left: 12px;
		line-height: 32px;
		position: absolute;
		text-align: center;
	}
	.form-popup-success {
		background: #d0e1ac;
	}
	&.loading {
		.form-popup-loading {
			display: block;
		}
	}
	&.success {
		.form-popup-success {
			display: block;
		}
	}
}

.theme-options, 
#form-popup-image-editor {
	.form-row {
		border: none;
		clear: both;
	}
	.left {
		float: left;
		width: 170px;
	}
	select, input {
		width: 150px;
	}
}

.sl-font-picker-thumbnail {
	border: 1px solid @lightSecondColor;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	cursor: pointer;
	font-size: 15px;
	height: 25px;
	line-height: 15px;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	width: 95%;
}
.sl-color-picker-thumbnail {
	border: 1px solid @lightSecondColor;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	height: 19px;
	padding: 5px;
	width: 95%;
	& > div {
		height: 7px;
		width: 100%;
	}
}
.sl-color-picker-window {
	background: white;
	border: 1px solid @secondColor;
	height: 120px;
	padding: 5px;
	position: absolute;
	width: 250px;
	& > div {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		float: left;
		height: 10px;
		width: 10px;
		&:hover {
			border: 1px solid white;
		}
	}
	& > input[type="text"] {
		bottom: 5px;
		left: 5px;
		position: absolute;
	}
	& > button {
		bottom: 5px;
		position: absolute;
		right: 5px;
	}
}
.sl-font-picker-window {
	background: white;
	border: 1px solid @secondColor;
	padding: 5px 5px 35px 5px;
	position: absolute;
	width: 250px;
	.font-picker-option {
		border: 1px solid @lightSecondColor;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		color: black;
		cursor: pointer;
		font-size: 12px;
		height: 20px;
		line-height: 12px;
		margin: 0;
		overflow: hidden;
		padding: 5px;
		width: 100%;
		&:hover {
			background: @lightColor;
		}
		& + .font-picker-option {
			border-top: none;
		}
	}
	& > input[type="text"] {
		bottom: 5px;
		left: 5px;
		position: absolute;
	}
	& > button {
		bottom: 5px;
		position: absolute;
		right: 5px;
	}
}
#dummy-image-editor-popup-trigger,
#dummy-block-editor-popup-trigger {
	height: 25px;
	left: -100px;
	position: absolute;
	top: -100px;
	width: 100px;
}

#form-popup-block-editor-contents h3 {
	border-bottom: 1px solid #CCCCCC;
	color: #616265;
	margin: 0;
	padding: 0 0 5px 0;
}

#page-code-editor-preview-iframe {
	background: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-shadow: 0 0 30px fade(@darkColor, 50%);
	box-sizing: border-box;
	border: 1px solid @darkColor;
	border-bottom: none;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	margin-top: 36px;
	padding: 0;
	position: absolute;
	z-index: 2;
}
#page-code-editor-preview-iframe-frame {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid @darkColor;
	border-bottom: none;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	content: " ";
	display: block;
	margin-top: 18px;
	position: absolute;
	z-index: 1;
	&.loading {
		background: url(../images/form-popup-loading.gif) top left repeat;
	}
}

#page-editor-preloader {
	background: fade(@darkColor, 80%);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999999999;
}

.form-row {
	display: block;
	margin-top: 1em;
}
.form-row label {
	color: #333;
	display: block;
	font-weight: bold;
}
.form-row + .form-row {
	border-top: 1px solid #EEE;
	padding-top: .5em;
}
.form-row.last {
	background: @mainColor;
	clear: both;
	margin-top: .3em;
	padding: .3em .1em;
}
.form-row.last a {
	color: #333;
	text-decoration: underline;
}

#popup-media-library {
	border-radius: 3px;
	background: white;
	-moz-box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);
	-webkit-box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);
	box-shadow: 0px 2px 4px 0px darken(@darkColor, 20%);	
	display: none;
	height: 350px;
	padding: 12px;
	position: absolute;
	width: 600px;
	z-index: 100;
	iframe {
		height: 100%;
		width: 100%;
	}
}