@mainColor: #CFE0ED;
@lightColor: lighten(@mainColor, 10%);
@darkColor: darken(@mainColor, 1%);
@secondColor: #0077CC;
@lightSecondColor: lighten(@secondColor, 30%);
@darkSecondColor: darken(@secondColor, 30%);
@thirdColor: #bfe1ac;

body {
}

.sl-drop-placeholder {
	position: relative;
	&.sl-drop-placeholder-active {
		& > div {
			background: darken(@darkColor, 40%);
			&:after {
				color: @mainColor;
			}
		}
	}
	& > div {
		background: @mainColor;
		border: 2px solid darken(@darkColor, 40%);
		border-radius: 6px;
		height: 24px;
		position: absolute;
		top: 0;
		width: 100%;
		&:after {
			color: darken(@darkColor, 40%);
			content: "DROP HERE";
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			height: 100%;
			left: 0;
			line-height: 24px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
		}
	}
}

.sl-image-edit-button,
.sl-block-edit-button {
	background: url(../images/icon-image-options.png) top left no-repeat;
	cursor: pointer !important;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 2;
	&:hover {
		background-position: top right;
	}
	&.small {
		background-image: url(../images/icon-image-options-small.png);
		height: 20px;
		width: 20px;
	}
}
.sl-image-upload-button {
	background: url(../images/icon-image-upload.png) top left no-repeat;
	cursor: pointer !important;
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: 2;
	&:hover {
		background-position: top right;
	}
	&.small {
		background-image: url(../images/icon-image-upload-small.png);
		height: 20px;
		width: 20px;
	}
}
.sl-image-overlay,
.sl-block-overlay {
	background: fadeout(darken(@darkColor, 40%), 25%);
	position: absolute;
	z-index: 1;
}
.sl-content-block-edit {
	// border: 1px solid darken(@darkColor, 40%);
	cursor: pointer;
	position: absolute;
	z-index: 1;
	&:hover {
		background: fadeout(darken(@darkColor, 40%), 80%);
	}
}

.sl-content-block-remove {
	background: url(../images/icon-block-remove.png) top left no-repeat;
	cursor: pointer;
	height: 31px;
	position: absolute;
	width: 31px;
	z-index: 3;
	&:hover {
		background-position: top right;
	}
}
.sl-content-block-order {
	background: url(../images/icon-block-order.png) top left no-repeat;
	cursor: pointer;
	height: 31px;
	position: absolute;
	width: 31px;
	z-index: 3;
	&:hover {
		background-position: top right;
	}
}
.sl-content-block-overlay {
	background: fadeout(darken(@darkColor, 40%), 80%);
	border: 2px solid darken(@darkColor, 40%);
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%),inset 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%);
	-webkit-box-shadow: 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%),inset 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%);
	box-shadow: 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%),inset 0px 0px 8px 0px fadeout(darken(@darkColor, 40%), 50%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}

.sl-block-resize-handle {
	background: url(../images/icon-column-resize.png) top left no-repeat;
	cursor: ew-resize;
	height: 147px;
	position: absolute;
	width: 40px;
	z-index: 99;
	&:hover {
		background-position: top right;
	}
}

.sl-content-block-image-drop-zone-placeholder {
	background: fadeout(darken(@darkColor, 40%), 40%);
	position: absolute;
	z-index: 1000;
	.sl-image-preloader {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid white;
		left: 2.5%;
		height: 25%;
		position: absolute;
		top: 40%;
		width: 95%;
		& > div {
			background: white;
			height: 100%;
			left: 0px;
			position: absolute;
			top: 0px;
			width: 0%;
		}
	}
	&.active {
		background: fadeout(darken(@darkColor, 40%), 10%);
	}
}

.sl-block-resize-tooltip {
	background: darken(@darkColor, 40%);
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: @mainColor;
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 99;
}
.sl-content-block-order-placeholder {
	background: fadeOut(darken(@darkColor, 40%), 20%);
	border: 2px solid darken(@darkColor, 40%);
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}
.sl-content-block-order-ghost {
	// border: 2px dashed darken(@darkColor, 40%);
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}
.sl-content-block-order-dummy {
	position: absolute;
	z-index: 100;
	div {
		background: @mainColor;
		border: 2px solid darken(@darkColor, 40%);
		border-radius: 6px;
		height: 24px;
		position: relative;
		top: -12px;
		&:after {
			color: darken(@darkColor, 40%);
			content: "MOVE HERE";
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			height: 100%;
			left: 0;
			line-height: 24px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
		}
	}
	&:hover div,
	&.active div {
		background: darken(@darkColor, 40%);
			&:after {
				color: @mainColor;
			}
	}
}
[contenteditable].cke_focus {
	outline: 2px solid darken(@darkColor, 40%);
	outline-offset: 10px;
}