.element-mouse-over{border:2px dashed #0077cc;}
.element-mouse-over-sync-link{border:2px dashed #ff0000;}
.element-selected{border:2px solid #0077cc;}
.element-selected-sync-link{border:2px solid #ff0000;}
body.element-selected{border:none;}