.iguana{cursor:pointer;}
.iguana:hover{background-image:url('../images/iguana_trans.png');}
.block-hover{background-color:#CBEAFF !important;}
.sync-to{background-color:#F5FF5D !important;}

#iguana-context-menu{background-color:#fff;border:1px solid #0077cc;position:absolute;width:120px;-webkit-box-shadow:0px 0px 15px #0077cc;-moz-box-shadow:#0077cc 0px 0px 5px;}
#iguana-context-menu p{line-height:36px;margin:0px;padding:0px;}
#iguana-context-menu #button-holder{}
#iguana-context-menu-inner{}
#iguana-context-menu-inner .section{border-bottom:1px solid #0077cc;}
#iguana-context-menu-inner .iguana-menu-button{clear:both;color:#0077cc;display:block;font-family:sans-serif;font-size:11px;line-height:12px;padding:5px 7px;text-decoration:none;}
#iguana-context-menu-inner .iguana-menu-button:hover{background-color:#D9EBF7;}
#iguana-context-menu-inner .iguana-menu-button img{float:left;margin-right:6px;}