#top.iguana{height:39px;}
#top.iguana h1{font-size:16px;font-style:normal;font-weight:normal;line-height:35px;}
#top .iguana-actions{text-align:right;}
#top .iguana-actions .button{float:right;margin-left:9px;margin-top:5px;}
#top .iguana-actions a.text-action{color:#0077cc;display:inline-block;float:right;line-height:39px;margin-right:18px;}
#top.iguana ul.tabs{padding-top:9px;}

.panel-container{background-color:#cfe0eb;border-top:1px solid #bcccd6;color:#fff;font-size:11px;height:0px;position:fixed;bottom:0;left:0;width:100%;}
.panel-container.builder{height:30px;}
.panel-inner{margin:4px auto;width:960px;}
.element-panel{height:30px;position:relative;z-index:101;}
.element-panel span.properties{color:#333;margin-left:9px;}
.element-panel a{background-color:#8FB9D1;border:1px solid #cfe0eb;color:#141B1E;display:inline-block;font-size:10px;font-weight:bold;line-height:20px;padding:0 6px;text-decoration:none;}
.element-panel a.last{background-color:#fff;}
.element-panel a.last:hover{background-color:#fff;}
.element-panel a#iguana-builder-edit-properties-button{color:#0077cc;}
.element-panel a:hover{background-color:#7AA2B7;}
.element-panel a:last-child,
.panel-container a.panel-button{background-color:#cfe0eb;border:1px solid #fff;border-right:1px solid #8FB9D1;border-bottom:1px solid #8FB9D1;color:#005998 !important;display:inline-block;font-size:10px;font-weight:bold;line-height:20px;margin-left:9px;padding:0 6px;text-decoration:none;}
.panel-container a.panel-button{margin:6px 0 0 0;}
.element-panel a:last-child:hover,
.panel-container a.panel-button:hover{background-color:#fff;}
.properties-panel{color:#333;font-size:12px;line-height:14px;margin-top:3px;}
.panel-container h4{font-size:14px;margin:0 0 6px 0;}
#sync-properties,
#link-properties{display:none;position:relative;z-index:100;}
#sync-properties a,
#link-properties a{color:#0077cc;font-size:11px;}