body{background-color:#fff;}

#top{display:none;}
input.text{background-color:transparent;border:none !important;color:#0077cc;font-size:20px;font-weight:bold;padding:0px;}
input[type=submit],
input[type=button]{display:none;}
#invoice-tool-palette{display:none;}
.actions{display:none !important;}