/*
Theme Settings - Start
*_Color:Main_	Main theme color	cfe0eb
*_Color:Secondary_	Theme's secondary color	0077cc
*_Color:HeaderNavPassiveText_	Header navigation passive text color	666666
*_Color:SecondaryText_	Theme's secondary text color	ffffff
_Color:MainText_	Main theme text color	_Color:Main_FGC
_Color:HeaderNavPassive_	Header navigation passive background color	_Color:Main_+2
_Color:HeaderNavPassiveHover_	Header navigation passive hover background color	_Color:Main_+3
_Color:HeaderNavActiveText_	Header navigation passive text color	_Color:Secondary_
_Color:ButtonText_	Button text color	_Color:Secondary_
_Color:ButtonBorder_	Button hover border color	_Color:Secondary_+2
_Color:ButtonBackground_	Button hover background color	_Color:Secondary_+5
_Color:PageBarBackground_	Page bar background color	_Color:Main_+2
_Color:PageBarTabBackground_	Page bar background color	_Color:Main_+3
_Color:PageBarTabHoverBackground_	Page bar background color	_Color:Main_+5
_Color:NavBarHoverText_	Top navigation bar hover text color	_Color:NavBarHoverBackground_FGC
Theme Settings - End
*/

*{outline:none;}

body{background-color:#f2f2f2;font-family:Helvetica,Arial,Sans-serif;}
body.login #top{background-color:#cfe0eb;border-bottom:2px solid #fff;height:1px;margin-bottom:70px;padding-top:9px;}
body.login #top div.inner{background-color:#bcccd6;height:1px;}
h1{color:#3d3d3d;font-size:20px;font-weight:bold;line-height:58px;margin:0px;padding:0px;}
h2{color:#3d3d3d;font-size:14px;font-weight:bold;line-height:50px;margin:0px;padding:0px;}

#top{background-color:#_Color:Main_;border-bottom:1px solid #bcccd6;height:59px;}
#top.small-header{height:39px;}
#top .small-actions{text-align:right;}
#top .small-actions .button{float:right;margin-left:9px;margin-top:5px;}
#top .small-actions a.text-action{color:#0077cc;display:inline-block;float:right;line-height:39px;margin-right:18px;zoom:1;*display:inline;}
#top img{color:#0b7cce;font-size:24px;font-style:italic;font-weight:bold;letter-spacing:1px;line-height:59px;}
#top h1{color:#_Color:Secondary_;font-size:24px;font-style:italic;font-weight:bold;letter-spacing:1px;line-height:55px;margin:0px;padding:4px 0 0 18px;white-space:nowrap;}
h1.app-name{color:#_Color:Secondary_;font-size:24px;font-style:italic;font-weight:bold;letter-spacing:1px;line-height:55px;margin:0px;padding:0;}
#top.small-header h1{font-size:18px;line-height:34px;}
#top ul.tabs{float:left;list-style:none;margin:0px;padding:29px 0 0 0;}
#top.small-header ul.tabs{padding-top:9px;}
#top ul.tabs li{display:inline-block;float:left;height:30px;overflow:visible;zoom:1;*display:inline;}
#top ul.tabs li a{background-color:#_Color:HeaderNavPassive_;color:#_Color:HeaderNavPassiveText_;display:inline-block;font-size:14px;height:30px;line-height:30px;outline:none;padding:0px 18px;position:relative;text-decoration:none;zoom:1;*display:inline;}
#top ul.tabs li:hover a{background-color:#_Color:HeaderNavPassiveHover_;}
#top ul.tabs li a strong{}
#top ul.tabs li a span{}
#top ul.tabs li.selected{background-color:#fff;border:1px solid #c5d0d8;border-bottom:none;height:32px;position:relative;top:-2px;}
#top ul.tabs li.selected a{background-color:#ffffff;color:#_Color:HeaderNavActiveText_;height:32px;line-height:32px;}
#top ul.tabs li.selected a strong{position:relative;z-index:3;}
#top ul.tabs li.selected a span.left{background-color:#f2f2f2;border-left:2px solid #fff;bottom:-2px;height:17px;left:0px;position:absolute;width:50%;z-index:2;}
#top ul.tabs li.selected a span.right{background-color:#f2f2f2;border-right:2px solid #fff;bottom:-2px;height:17px;position:absolute;right:0px;width:50%;z-index:2;}
#top ul.tabs li.label{color:#_Color:HeaderNavActiveText_;font-size:14px;height:32px;line-height:32px;margin-right:9px;}
#top ul.tabs li.drop{margin-left:3px;position:relative;text-align:center;}

#top ul.tabs li.drop .down-arrow{position:absolute;top:14px;right:20px;z-index:3;}
#top ul.tabs li.drop.selected .down-arrow{right:16px;}
#top ul.tabs li.drop.selected > a{padding-right:30px;}
#top ul.tabs li.drop .down-arrow span{border-top:5px solid #_Color:HeaderNavPassiveText_;border-bottom:3px solid transparent;border-left:4px solid transparent;border-right:4px solid transparent;display:inline-block;font-size:0px;height:0px;line-height:0%;width:0px;zoom:1;*display:inline;}
#top ul.tabs li.drop.selected .down-arrow span{border-top:5px solid #_Color:HeaderNavActiveText_;}

#top ul.tabs li.drop.open {background-color:#fff;border:1px solid #c5d0d8;border-bottom:none;height:32px;position:relative;top:-2px;}
#top ul.tabs li.drop.open > a{background-color:#fff;padding:0 21px 0 22px;}
#top ul.tabs li.drop.open a strong{position:relative;z-index:3;}
#top ul.tabs li.drop.open a span.left{background-color:#f2f2f2;border-left:2px solid #fff;bottom:-4px;height:19px;left:0px;position:absolute;width:50%;z-index:2;}
#top ul.tabs li.drop.open a span.right{background-color:#f2f2f2;border-right:2px solid #fff;bottom:-4px;height:19px;position:absolute;right:0px;width:50%;z-index:2;}

#top ul.tabs li.drop .menu {background-color:#fff;box-shadow:0 5px 10px rgba(0,0,0,0.3);border:1px solid #c5d0d8;border-top:none;display:none;position:absolute;left:-1px;list-style:none;margin:0;padding:2px;top:32px;width:200px;z-index:999999;}
#top ul.tabs li.drop.open .menu {display:block;}

#top ul.tabs li.drop .menu ul {background-color:#f2f2f2;margin:0;padding:0;text-align:left;}
#top ul.tabs li.drop .menu ul li {background-color:#f2f2f2;display:block;float:none;line-height:30px;text-align:left;}
#top ul.tabs li.drop .menu ul li:hover {background-color:#_Color:Secondary_;}
#top ul.tabs li.drop .menu ul li a {background-color:transparent;color:#_Color:HeaderNavPassiveText_;display:block;font-size:14px;height:30px;line-height:30px;}
#top ul.tabs li.drop .menu ul li:hover a {color:#_Color:SecondaryText_;}

#top ul.tabs.right{float:right;}
#top ul.tabs.right li a.transparent{background-color:transparent;padding:0px 18px 0px 0px;}
#top ul.tabs.right li.selected{margin-right:9px;}
#top ul.tabs.right li.selected a{padding:0px 9px;}
#top ul.tabs.right li.selected a strong{font-weight:normal;}
#top ul.tabs li#search{position:relative;z-index:100001;}
#top ul.tabs li#search a#search-link{height:23px;padding:7px 8px 0px 8px;position:relative;width:16px;}
#top ul.tabs li#search div#search-step-1{background-color:#fff;border:1px solid #c5d0d8;border-bottom:none;display:none;height:32px;left:-238px;position:absolute;top:-2px;width:270px;}
#top ul.tabs li#search div#search-step-1 span.left{background-color:#f2f2f2;border-left:2px solid #fff;bottom:-2px;height:17px;left:0px;position:absolute;width:50%;z-index:2;}
#top ul.tabs li#search div#search-step-1 span.right{background-color:#f2f2f2;border-right:2px solid #fff;bottom:-2px;height:17px;position:absolute;right:0px;width:50%;z-index:2;}
#top ul.tabs li#search div#search-step-1 p{color:#_Color:HeaderNavActiveText_;font-size:14px;font-weight:bold;height:32px;line-height:32px;margin:0px;padding-left:18px;position:relative;z-index:90;}
#top ul.tabs li#search div#search-step-1 p input.text{font-size:12px;height:13px;margin-left:16px;padding:3px 4px;width:143px;}
#top ul.tabs li#search div#search-step-1 p img{position:absolute;right:9px;top:8px;}
#top ul.tabs li#search div#search-step-2{background-color:#f2f2f2;box-shadow:0 5px 10px rgba(0,0,0,0.3);border:1px solid #c5d0d8;border-top:none;display:none;left:-238px;position:absolute;top:31px;width:270px;z-index:99;}
#top ul.tabs li#search div#search-step-2 ul{border:2px solid #fff;border-bottom:none;border-top:none;margin:0px;padding:9px 0 3px 0;position:relative;}
#top ul.tabs li#search div#search-step-2 ul:last-child{border:2px solid #fff;border-top:none;}
#top ul.tabs li#search div#search-step-2 ul li{display:block;float:none;height:20px;}
#top ul.tabs li#search div#search-step-2 ul li:hover{background-color:#_Color:Secondary_;}
#top ul.tabs li#search div#search-step-2 ul li:hover a{color:#_Color:SecondaryText_;}
#top ul.tabs li#search div#search-step-2 ul li.subscriber-result{display:block;float:none;height:30px;line-height:14px !important;padding:5px 0;}
#top ul.tabs li#search div#search-step-2 ul li.subscriber-result span{font-size:10px;}
#top ul.tabs li#search div#search-step-2 ul li.subscriber-result a{line-height:14px !important;}
#top ul.tabs li#search div#search-step-2 ul li.header{display:block;float:none;height:15px;margin-top:9px;padding:0 14px;position:relative;}
#top ul.tabs li#search div#search-step-2 ul li.header:hover{background-color:transparent;}
#top ul.tabs li#search div#search-step-2 ul li.header:first-child{margin-top:0px;}
#top ul.tabs li#search div#search-step-2 ul li.header hr{background-color:#c2c2c2;left:6px;position:absolute;top:7px;width:258px;}
#top ul.tabs li#search div#search-step-2 ul li.header h3{background-color:#f2f2f2;color:#979797;font-size:12px;font-weight:bold;left:12px;margin:0;padding:0 4px;position:absolute;}
#top ul.tabs li#search div#search-step-2 ul li a{background-color:transparent;color:#1a1a1a;display:block;font-size:12px !important;line-height:20px;outline:none;padding:0px 16px;position:relative;text-decoration:none;}

#top ul.tabs.inactive > li {opacity:.3;}
#top ul.tabs.inactive > li#search {opacity:1;}


#top #user-info-container{color:#_Color:HeaderNavPassiveText_;font-size:11px;right:0px;position:absolute;text-align:right;top:5px;}
#top .user-info,#top .credit-info,#top .user-logout,#top .user-settings{background-color:#_Color:HeaderNavPassive_;cursor:pointer;float:left;padding:2px 5px;}
#top .user-info.open,#top .credit-info.open{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_;text-decoration:none;}
#top .user-logout,#top .user-settings{margin-left:9px;}
#top .user-logout a,#top .user-settings a{color:#_Color:HeaderNavPassiveText_;}
#top #user-info-overlay,#top #purchase-credits-overlay{background-color:#fff;border:2px solid #_Color:Secondary_;display:none;min-width:100px;padding:2px 7px 4px 7px;position:absolute;right:0px;top:26px;z-index:9999999;min-width:300px;-moz-box-shadow:3px 3px 0px #d9d9d9;-webkit-box-shadow:3px 3px 0px #d9d9d9;}
#top #user-info-overlay .small{line-height:12px !important;margin-bottom:0px !important;}
#top #user-info-overlay h3{border-bottom:1px solid #C5D0D8;color:#676767;font-size:11px;font-weight:bold;line-height:16px;margin:0 0 3px 0;}

#middle{border-top:2px solid #ffffff;z-index:1px;}
#middle.small-header,
#middle.iguana{padding-top:36px;}
#middle #section-bar{min-height:58px;}
#middle .notice-header{background-color:#FEF8C6;border:2px solid #_Color:Main_;margin:18px 0;padding:9px 18px;}
#middle .notice-header.campaign-notice{margin-top:0px !important;margin-right:36px;}
#middle .error-header{background-color:#F1BDBA;border:2px solid #_Color:Main_;margin:18px 0;padding:9px 18px;}
#middle .success-header{background-color:#BAE9BC;border:2px solid #_Color:Main_;margin:18px 0;padding:9px 18px;}
#middle #section-bar .header{float:left;}
#middle #section-bar .header span.label{background-color:#eaeaea;border:1px solid #d2d2d2;color:#343434;display:inline-block;font-size:9px;line-height:12px;margin:0;padding:0 15px 0 2px;position:relative;zoom:1;*display:inline;}
#middle #section-bar .header span.label.system{padding:0 2px;}
#middle #section-bar .header span.label a.remove-label-link{background-color:#CCC;color:#343434;display:inline-block;height:4px;line-height:4px;padding:3px;position:absolute;right:1px;top:1px;text-decoration:none;zoom:1;*display:inline;}
#middle #section-bar .header span.label a.remove-label-link:hover{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_;}
#middle #section-bar .actions{float:right;padding-top:13px;}
#middle #section-bar .actions .button{float:right;margin-left:18px;}
#middle .left-sub-navigation{list-style:none;margin:14px 0 36px 0;padding:0px;}
#middle .left-sub-navigation li{height:30px;margin:0px;padding:0;}
#middle .left-sub-navigation li a{color:#808080;display:block;font-size:14px;font-weight:bold;height:30px;line-height:30px;outline:none;padding-left:18px;text-decoration:none;}
#middle .left-sub-navigation li a span.item-count{font-size:12px;margin-left:6px;}
#middle .left-sub-navigation li:hover a{color:#595959;}
#middle .left-sub-navigation li a.action{color:#_Color:HeaderNavActiveText_;display:block;font-size:12px;font-weight:bold;height:30px;line-height:30px;outline:none;padding-left:18px;text-decoration:none;}
#middle .left-sub-navigation li.selected a{background-color:#_Color:Secondary_ !important;color:#_Color:SecondaryText_ !important;display:block;font-size:14px;font-weight:normal;height:30px;line-height:30px;text-decoration:none;}
#middle .left-sub-navigation li.selected.multiple a{background-color:#A5A5A5 !important;}
#middle .left-sub-navigation li.header{color:#3d3d3d;font-size:14px;font-weight:bold;height:30px;line-height:30px;margin:0;padding:0 0 0 18px;}
#middle .left-sub-navigation li.header.first{height:47px;line-height:46px;}
#middle .left-sub-navigation li.with-module{margin-top:34px;}
#middle .left-sub-navigation li.header.with-module{margin-top:25px;}
#middle .left-sub-navigation li .remove-tag-button{display:none;float:right;}
#middle .left-sub-navigation li.selected:hover .remove-tag-button{display:block;}
#middle .left-sub-navigation li .remove-tag-button a{color:#727272 !important;font-weight:bold;margin-right:9px;}
/*#middle .left-sub-navigation li.first{margin-top:47px;}*/
#middle .left-sub-navigation li.keyboard-focus a{background-color:#CCC;color:#595959;}
#middle .left-sub-navigation:first-child{margin-top:0px;}
.page-connector{border-color:#_Color:Secondary_ transparent transparent transparent;border-style:solid;border-width:10px;height:0px;left:425px;position:absolute;top:-14px;width:0px;z-index:998;}
#middle #page-shadow{background-color:#d9d9d9;bottom:-4px;position:relative;right:-4px;}
.page-overlay{background-color:#_Color:Secondary_;display:none;height:100%;position:absolute;text-align:center;width:100%;z-index:997;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;}
.page-overlay .page-overlay-label{color:#_Color:SecondaryText_;font-size:14px;font-weight:bold;margin-top:18px;text-align:center;}
#middle #page{background-color:#d9ebf7;border:2px solid #_Color:Secondary_;bottom:4px;position:relative;right:4px;}
#middle #page.collapsible{bottom:0px;right:0px;}
#middle #page.collapsible .page-bar{cursor:pointer;}
#middle #page.collapsed .white{display:none;}
#middle #page.collapsed .page-bar{display:none;}
#middle #page.collapsed .page-collapsed-bar{display:block;}
#middle #page .white{background-color:#ffffff;clear:both;padding-bottom:18px;}
#middle #page .blue{background-color:#_Color:PageBarBackground_;clear:both;padding-bottom:18px;}
#middle #page .white > p,
#middle #page .blue > p{color:#262626;font-size:14px;}
#middle #page .white a,
#middle #page .blue a{color:#_Color:Secondary_;}
#middle #page .white > .inner,
#middle #page .blue > .inner{clear:both;padding-top:9px;}
#middle #page .page-collapsed-bar{background-color:#_Color:Secondary_;cursor:pointer;display:none;height:25px;}
#middle #page.collapsible .page-bar{background-color:#_Color:Secondary_;cursor:pointer;height:25px;}
#middle #page .page-bar{background-color:#_Color:PageBarBackground_;border-bottom:1px solid #b9c8d2;height:45px;}
#middle #page .page-bar.no-border{border:none;}
#middle #page .page-bar h2{float:left;font-size:14px;line-height:45px;margin:0px;padding:0 18px;}
#middle #page.collapsible .page-bar h2{color:#_Color:SecondaryText_;float:left;font-size:12px;line-height:25px;margin:0px;padding:0 18px;}
#middle #page .page-collapsed-bar h2{color:#_Color:SecondaryText_;float:left;font-size:12px;line-height:25px;margin:0px;padding:0 18px;}
#middle #page .page-bar .actions{float:right;padding:0 18px;}
#middle #page .page-bar .actions a{color:#0077cc;display:block;float:left;font-size:12px;font-weight:bold;line-height:45px;text-decoration:none;}
#middle #page .page-bar .livetabs{float:left;list-style:none;margin:0 18px !important;padding-top:15px;}
#middle #page .page-bar .livetabs.right{float:right;}
#middle #page .page-bar .livetabs li{padding:0 10px;}
#middle #page .page-bar .livetabs > li{background-color:#_Color:PageBarTabBackground_;cursor:pointer;float:left;font-size:14px;height:30px;line-height:30px;margin-right:1px;position:relative;}
#middle #page .page-bar .livetabs > li.error{background-color:#f8e4e6;}
#middle #page .page-bar .livetabs > li:hover{background-color:#_Color:PageBarTabHoverBackground_;}
#middle #page .page-bar .livetabs > li.image{padding-right:8px;}
#middle #page .page-bar .livetabs > li.selected{background-color:#fff;border:1px solid #b9c8d2;border-bottom:none;height:30px;line-height:29px;}
#middle #page .page-bar .livetabs li li.selected{background-color:#fff;border:1px solid #b9c8d2;border-bottom:none;}
#middle #page .page-bar .livetabs li a{color:#989fa3;display:block;font-size:14px;font-weight:bold;text-decoration:none;}
#middle #page .page-bar .livetabs li img{}
#middle #page .page-bar .livetabs li.selected a{color:#4c4c4c;cursor:default;}
#middle #page .page-bar .livetabs li.label{background-color:#_Color:PageBarBackground_;color:#4c4c4c;cursor:default;font-size:12px;font-weight:bold;line-height:30px;margin-right:9px;}
#middle #page .page-bar .livetabs li.dropdown-menu{background-image:url('_Template:URL_images/icon_more.gif');background-position:93% center;background-repeat:no-repeat;padding-right:30px;position:relative;z-index:999;}
#middle #page .page-bar .livetabs li.dropdown-menu ul{display:none;left:-1px;margin:0px;padding:0;position:absolute;top:30px;width:400px;z-index:999;}
#middle #page .page-bar .livetabs li.dropdown-menu.selected ul{border:1px solid #b9c8d2;border-top:none;}
#middle #page .page-bar .livetabs li.dropdown-menu:hover ul{display:block;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li{background-color:#e4f1f9;display:block;float:none;line-height:14px;margin:0px;}
#middle #page .page-bar .livetabs li.dropdown-menu.selected ul li{background-color:#fff;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li:hover{background-color:#_Color:Secondary_;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li a{color:#989fa3;cursor:pointer;font-size:12px;line-height:20px;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li.selected{border:none;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li.selected a{color:#4c4c4c;}
#middle #page .page-bar .livetabs li.dropdown-menu ul li:hover a{color:#_Color:SecondaryText_;}
#middle .pagination{list-style:none;margin:50px 0 0 0;}
#middle .pagination.with-module{margin-top:72px;}
#middle .pagination li{height:32px;line-height:32px;margin:0px;padding:0px;width:30px;}
#middle .pagination li a{color:#808080;display:block;font-size:14px;font-weight:bold;height:32px;line-height:32px;outline:none;text-align:center;text-decoration:none;}
#middle .pagination li a:hover{background-color:#EAEAEA;}
#middle .pagination li.selected a{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_;font-weight:normal;}
#middle .pagination li.selected a:hover{background-color:#_Color:Secondary_;}
#middle .pagination li.last a{background-image:url("_Template:URL_images/icon_arrow_last.png");background-repeat:no-repeat;}
#middle .pagination li.first a{background-image:url("_Template:URL_images/icon_arrow_first.png");background-repeat:no-repeat;}

#bottom{padding:72px 0 36px 0;}
#bottom p{font-size:11px;}
#bottom p a{color:#0077cc;}
#bottom .dimmed{color:#999;}
#bottom .col:last-child{text-align:right;}
#bottom .custom-column-container{padding:0 0 0 18px;}

/* Form styling - Start */
h3.form-legend{color:#_Color:Secondary_;font-weight:bold;font-size:14px;margin:0;padding:22px 18px 0 18px;}
h3.form-legend.error{color:#ff3333;}
h3.form-legend.success{color:#419d41;}
h3.form-legend.secondary{color:#676767;}
div.form-row{background-color:#f7f7f7;color:#676767;clear:both;margin:9px;padding:6px 9px;}
div.form-row.no-background-color{background-color:transparent;}
div.form-row.focus{background-color:#EAEAEA;}
div.form-row.error{background-color:#ffebeb;}
div.form-row.error.focus{background-color:#FFD5D2;}
div.form-row label{color:#676767;float:left;font-size:14px;font-weight:bold;line-height:30px;width:142px;}
div.form-row.captcha img{float:right;margin-right:8px;}
div.form-row.forgot img{float:left;margin-right:8px;margin-left:4px;}
div.checkbox-container{position:relative;}
div.checkbox-row{margin-left:142px;}
div.checkbox-row.no-margin{margin-left:0px;}
div.checkbox-row label{color:#676767;float:none;font-size:14px;font-weight:normal;line-height:27px;}
div.form-action-container{margin-top:10px;}
div.form-action-container .button{float:right;margin-left:9px;}
div.form-action-container.left .button{float:left;margin-right:9px;margin-left:0px;}
div.form-row.error input.text{border:1px solid #ff9999;}
input.text{background-image:url('_Template:URL_images/backgrounds/input_text_inner_shadow.gif');border:1px solid #a6a6a6;color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:14px;height:23px;margin:0px;padding:5px 7px 0 7px;width:300px;}
input.text:hover{border:1px solid #A8A8A8;}
div.form-row.focus input.text,
input.text:focus{border:1px solid #0077cc;}
input.text.error{border:1px solid #ff9999;}
textarea.textarea{background-image:url('_Template:URL_images/backgrounds/input_text_inner_shadow.gif');border:1px solid #a6a6a6;color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:18px;height:100px;margin:0px;padding:5px 7px;width:390px;}
textarea.textarea.html-code{font-family:Monaco,Consolas,"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
textarea.textarea:hover{border:1px solid #A8A8A8;}
div.form-row.focus textarea.textarea,
textarea.textarea:focus{border:1px solid #0077cc;}
textarea.textarea.error{border:1px solid #ff9999;}
textarea.plain-text{background-image:url('_Template:URL_images/plain-text-wrapper.gif');background-repeat:no-repeat;font-family:Monaco,Consolas,"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
select.select{border:1px solid #a6a6a6;color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:14px;height:28px;line-height:28px;margin:0px;padding:5px 7px;}
select.select.no-height{height:auto;}
select.multiselect{border:1px solid #a6a6a6;color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:12px;height:100px;line-height:28px;margin:0px;padding:5px 7px;width:300px;}
select.multiselect.no-height{height:auto;}
div.form-row.focus select.select,
select.select:focus{border:1px solid #0077cc;}
div.form-row-note{margin-left:142px;}
div.form-row-note.checkbox-note{margin-left:163px;}
div.form-row-note.checkbox-note p{margin-top:0px;}
div.form-row-note p{color:#676767;font-size:12px;margin:6px 0 0 0;padding:0px;}
div.form-row-note p.big{color:#676767;font-size:16px;margin:6px 0 0 0;padding:0px;}
div.form-row-note.personalization{height:0px;overflow:hidden;width:516px;}
div.form-row-note.personalization.focus{background-color:#0077cc;height:auto;padding:3px 0;}
div.form-row-note.personalization.focus p{color:#fff !important;}
div.form-row-note.personalization.focus select{border-color:#fff;}
div.form-row-note.personalization p{font-size:12px !important;margin:0px;padding-left:9px;}
div.form-row-note.personalization select{border:1px solid #a6a6a6;color:#000000;font-size:11px;height:18px;line-height:18px;padding:0px !important;width:330px;}
div.form-row.error div.form-row-note.error p{color:#ff3333 !important;padding-bottom:0px;}
.login-box{border:9px solid #e6e6e6;}
.login-box .inner{background-color:#fff;border:1px solid #c4c4c4;padding:18px 14px;}
.login-box h3.form-legend{margin:0 0 18px 0;padding:0px;}
.login-box div.form-row{margin:0;padding:6px;}
.login-box div.form-row label{width:86px;}
.login-box div.form-row-note{margin-left:86px;}
.login-box input.text{width:240px;}
.login-box div.checkbox-row{margin-left:88px;}
.login-box div.form-row.focus{background-color:#F2F2F2;}
div.form-row:last-child{margin-bottom:0px;}
div.form-row.small{font-size:12px;padding:0px;}
div.form-row.small label,div.form-row.small a{color:#676767;font-size:12px;text-decoration:none;}
div.form-row.no-bg{background-color:transparent;}
div.form-row.no-bg p{margin:0px;}
/* Form styling - End */

/* . */
.button{background:#ffffff;border:1px solid #c2c2c2;color:#_Color:ButtonText_;display:block;font-family:Arial,Sans-serif;font-size:12px;font-weight:bold;height:28px;line-height:28px;margin:0;outline:none;overflow:visible;padding:0px;position:relative;text-decoration:none;text-transform:upper;white-space:nowrap;}
.button.disabled{background:#f2f2f2;color:#8E8E8E;}
.button.big{font-size:14px;height:56px;line-height:28px;}
.button .description{color:#686868;font-size:12px;font-weight:normal;margin-left:16px;}
.button.big .description{margin-left:9px;}
.button.light span.left{background-color:#F2F2F2;}
.button.light span.right{background-color:#F2F2F2;}
.button:focus{color:#0077cc;}
.button:hover{border:1px solid #_Color:ButtonBorder_;color:#_Color:ButtonText_;cursor:pointer;}
.button:hover span.left{background-color:#_Color:ButtonBackground_;}
.button:hover span.right{background-color:#_Color:ButtonBackground_;}
* html .button{padding-bottom:1px;}
.button span.left{background-color:#e6e6e6;border-left:2px solid #fff;bottom:2px;height:12px;left:0px;overflow:hidden;padding:0px;position:absolute;width:50%;z-index:2;}
.button.big span.left{height:24px;}
.button span.right{background-color:#e6e6e6;border-right:2px solid #fff;bottom:2px;height:12px;overflow:hidden;padding:0px;position:absolute;right:0px;width:50%;z-index:2;}
.button.big span.right{height:24px;}
.button strong{padding:0 16px;position:relative;z-index:3;}
.button.big strong{padding:0 9px;position:relative;z-index:3;}
/*button::-moz-focus-inner{padding:0;border:none}*/

div.button-steps{margin-top:10px;text-align:right;}
div.button-steps .step-button{border:1px solid #c2c2c2;color:#8e8e8e;float:left;font-family:Arial,Sans-serif;font-size:12px;font-weight:bold;height:28px;line-height:28px;margin:0px;padding:0 16px;text-decoration:none;}
div.button-steps .step-button:hover{border-color:#_Color:ButtonBorder_;color:#_Color:ButtonText_;}
div.button-steps .step-button.border-hover-right{border-right:1px solid #_Color:ButtonBorder_ !important;}
div.button-steps .step-button.border-current-right{border-right:1px solid #_Color:ButtonBorder_ !important;}
div.button-steps .step-button.current-step{border-color:#_Color:ButtonBorder_;color:#_Color:ButtonText_;}
div.button-steps .step-button.disabled{border:1px solid #DBDBDB;color:#C1C1C1;cursor:default;}
div.button-steps .step-button.previous-step{border:1px solid #7F7F7F;color:#7F7F7F;cursor:pointer;}
div.button-steps .button.control-next{margin-left:9px;float:right;}
div.button-steps .button.control-previous{margin-right:9px;float:left;}


.module-container{border-bottom:1px solid #cccccc;height:24px;position:relative;}
.module-container-2{border-bottom:1px solid #cccccc;min-height:24px;position:relative;}

table td.right-align{text-align:right;}

.small-grid{margin-bottom:0px;}
.small-grid td{color:#797979;font-size:12px;line-height:14px;padding:3px 18px;text-align:left;}
.small-grid th{background-color:#_Color:PageBarBackground_;color:#3D3D3D;border-bottom:1px solid #B9C8D2;border-right:1px solid #A3B0B9;font-size:11px;height:25px;line-height:25px;padding:0 0 0 18px;}
.small-grid .zebra{background-color:#f2f2f2;}

.small-grid th.selected{background-color:#fff;border:2px solid #_Color:Secondary_;border-bottom:none;}
.small-grid td.selected{background-color:#fff;border:2px solid #_Color:Secondary_;border-bottom:none;border-top:none;}
.small-grid tr:last-child td.selected{border-bottom:2px solid #_Color:Secondary_;}

.small-grid-controls{padding:3px 18px;text-align:right;}

.grid{}
.grid td{color:#262626;font-size:14px;padding:5px 0 5px 18px;text-align:left;}
.grid .small-text{font-size:12px;}
.grid td.padding-left{padding-left:18px;}
.grid .zebra{background-color:#f7f7f7;}
.grid td a{color:#_Color:Secondary_;text-decoration:none;}
.grid td a.red{color:#ff0000 !important;}
.grid th{background-color:#_Color:PageBarBackground_;color:#3D3D3D;border-bottom:1px solid #B9C8D2;border-right:1px solid #A3B0B9;font-size:14px;height:45px;line-height:45px;padding:0 0 0 18px;}
.grid th:last-child{border-right:none;}
.grid span.label,
.small-grid span.label{background-color:#eaeaea;border:1px solid #d2d2d2;color:#343434;display:inline-block;float:right;font-size:9px;line-height:12px;margin:4px;padding:0 2px;zoom:1;*display:inline;}
span.label.system{background-color:#_Color:Main_ !important;}
.grid span.label.float-none,
.small-grid span.label.float-none{float:none;}
.grid tr.border-bottom td{border-bottom:1px solid #B9C8D2;}
.grid tr.border-bottom-dark td{border-bottom:2px solid #6E818C;}
.grid tr.border-top-dark td{border-top:2px solid #6E818C;}

.grid-operations{background-color:#fff;color:#_Color:Secondary_;height:24px;line-height:24px;position:absolute;z-index:1;width:100%;}
.grid-operations .inner{padding:0 18px;}
.grid-operations a{color:#_Color:Secondary_;font-size:12px;font-weight:bold;text-decoration:none;}
.grid-operations a.main-action{text-decoration:underline;margin-right:0px;}
.main-action-with-menu{display:inline-block;position:relative;zoom:1;*display:inline;z-index:100000;}
.sub-group-container .main-action-with-menu{z-index:100001;}
.grid-operations .main-action-with-menu .main-action{margin-right:9px;}
.main-action-with-menu a.main-action{border:1px solid #b9c8d2;display:inline-block;height:16px;line-height:16px;margin-top:3px;padding:0 15px 0 5px;text-decoration:none;white-space:nowrap;zoom:1;*display:inline;}
.main-action-with-menu a{text-decoration:none;}
.main-action-with-menu:hover a.main-action{border:1px solid #_Color:Secondary_;}
.main-action-with-menu.open a.main-action{border-bottom:none;}

.grid-row-action{font-size:10px;}

#section-bar .actions .main-action-with-menu{background-color:#fff;float:right;}
#section-bar .actions .main-action-with-menu a.main-action{color:#_Color:ButtonText_;font-weight:bold;height:28px;line-height:28px;margin-top:0px;padding:0 22px 0 10px;text-decoration:none;white-space:nowrap;}
#section-bar .actions .main-action-with-menu .down-arrow{right:12px;top:12px;}
#section-bar .actions .main-action-with-menu .main-action-menu{min-width:160px;}
#section-bar .actions .main-action-with-menu .main-action-menu li{clear:both;line-height:27px;}
#section-bar .actions .main-action-with-menu .main-action-menu li a{color:#_Color:Secondary_ !important;}
#section-bar .actions .main-action-with-menu .main-action-menu li:hover a{color:#_Color:SecondaryText_ !important;}
#section-bar .actions .main-action-with-menu .main-action-menu li img{float:left;margin:4px 9px 0 0;}


.grid-operations span.label{color:#808080;font-size:12px;font-weight:bold;}


.main-action-with-menu.open .main-action-menu{display:block;}
.main-action-menu{background-color:#fff;border:1px solid #_Color:Secondary_;display:none;list-style:none;margin:0px;min-width:100px;padding:5px;position:absolute;*top:20px;left:0px;z-index:99999;}
.main-action-with-menu .down-arrow{display:inline-block;position:absolute;right:14px;top:10px;*top:13px;zoom:1;*display:inline;}
.main-action-with-menu .down-arrow span{border-top:5px solid #_Color:Secondary_;border-bottom:3px solid transparent;border-left:4px solid transparent;border-right:4px solid transparent;display:inline-block;font-size:0px;height:0px;line-height:0%;width:0px;zoom:1;*display:inline;}
.main-action-menu li{line-height:18px;margin:0px;padding:0px;white-space:nowrap;}
.main-action-menu li a{display:block;font-weight:normal;padding:0 5px;}
.main-action-menu li a.selected{background-color:#_Color:Main_;color:#_Color:MainText_;}
.main-action-menu li a:hover{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_ !important;}
/*

*/
.module-container-2 .page-message {min-height:24px !important; height:auto; position:relative !important; line-height: 22px !important;}
.page-message{cursor:pointer;font-size:12px !important;height:24px;position:absolute;line-height:24px;z-index:2;width:100%;display:block;}
.page-message p{font-size:12px !important;}
.page-message .inner{padding:0 18px;}
.page-message span.close{float:right;}
.page-message.success,.page-message.success p{background-color:#e4f8e4;color:#419d41 !important;font-weight:bold;}
.page-message.success a { color:#419d41 !important; }
.page-message.error,.page-message.error p{background-color:#f8e4e6;color:#f81c32 !important;font-weight:bold;}
.page-message.error a { color:#f81c32 !important; }

.left-side-padding{padding-left:18px;}

.help-column{margin-top:18px;}
.help-column h3{color:#3D3D3D;font-size:12px;font-weight:bold;}
.help-column p{color:#686868;font-size:12px;}

.data-row{margin-bottom:9px;}
.data-row:last-child{margin-bottom:0px;}
.data{color:#0077cc;font-weight:bold;}
.data-label{color:#595959;font-weight:bold;margin-left:3px;}
.data-label.small{color:#595959;font-weight:normal;margin-left:3px;font-size:11px;}
.data.big{font-size:20px;}
.data-label.big{font-size:14px;}

.difference-ratio.positive{color:#259e01;}
.difference-ratio.negative{color:#ed561b;}

.message-in-white{margin:0px 18px 18px 18px;}

.no-padding-left{padding-left:0px !important;}

.custom-column-container{clear:both;padding:12px 18px;}
.custom-column-container.no-padding{padding:0px;}
.cols-2 .col{float:left;width:49%;}
.cols-2 .col:last-child{float:right;text-align:left;width:49%;}

.no-data-message{padding:0 18px;margin:0px;}

.big{font-size:18px;}

#colorpicker{background-color:#fff;border:2px solid #0077cc;display:none;margin-left:200px;padding:6px;width:207px;}

#shortcut-window{background-color:#000000;display:none;filter:alpha(opacity=85);left:25%;-moz-opacity:0.85;opacity:0.85;overflow:hidden;position:fixed;top:13%;width:50%;z-index:999999;}
#shortcut-window .inner{padding:16px;}
#shortcut-window h2{color:#fff;font-size:16px;line-height:16px;margin:0 0 9px 0;padding:0px;}
#shortcut-window hr{background-color:#878787;}
#shortcut-window ul{list-style:none;margin:0 0 18px 0;padding:0px;}
#shortcut-window ul li{color:#fff;clear:both;line-height:18px;text-align:left;}
#shortcut-window ul li span{color:#FAC200;display:block;float:left;font-family:Monaco,Consolas,"Lucida Console","Courier New",Courier,monospace;font-weight:bold;margin-right:6px;text-align:right;width:200px;}
#shortcut-window li.note{margin-top:27px;}

.flash-chart-container{position:relative;z-index:3;}

#invoice .grid{margin-bottom:0px;}
#invoice-tool-palette{background-color:#cfe0eb;border-top:1px solid #bcccd6;color:#0077cc;font-size:11px;font-weight:bold;height:30px;position:fixed;bottom:0;left:0;width:100%;}
#invoice-tool-palette .inner{margin:4px auto;width:960px;}
#browser-upgrade{background-color:#E44040;display:none;padding:18px;}
#browser-upgrade p{color:#fff;font-size:14px;font-weight:bold;margin:0px;text-align:center;}
#administrator-control-bar{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_;}
#administrator-control-bar .container{background-color:#_Color:Secondary_;}
#administrator-control-bar h3{color:#_Color:SecondaryText_;font-size:12px;font-weight:bold;line-height:36px;margin:0 0 0 18px;}
#administrator-control-bar a{color:#_Color:SecondaryText_;}
#administrator-control-bar .controls{margin-right:36px;padding-top:6px;text-align:right;}

.email-template-gallery-container{padding:20px 0 0 20px;}
.email-template{background-color:#fff;border:2px solid #b9c8d2;cursor:pointer;float:left;height:196px;margin:0 19px 20px 0;padding:1px;position:relative;width:146px;}
.email-template.small{height:100px;margin:0 19px 20px 0;width:100px;}
.email-template:hover{border-color:#A3AEB7;}
.email-template:hover .menu{display:block;}
.email-template.selected{border-color:#_Color:Secondary_;}
.email-template.selected .meta{color:#_Color:Secondary_;}
.email-template:last-child{margin-right:0px;}
.email-template .meta{background-color:#f3f3f3;color:#8C969D;font-size:11px;font-weight:bold;height:17px;line-height:17px;overflow:hidden;text-align:center;}
.email-template .meta-action{background-color:#f3f3f3;color:#8C969D;display:none;font-size:11px;font-weight:bold;overflow:hidden;text-align:center;}
.email-template .meta-action a{font-size:10px;font-weight:normal;}
.email-template .image{height:178px;margin-bottom:1px;overflow:hidden;}
.email-template.small .image{height:80px;}
.email-template .menu{bottom:18px;background-color:#f3f3f3;display:none;position:absolute;text-align:center;width:146px;}
.email-template .menu a{color:#_Color:Secondary_;margin:0 3px;}
.email-template.folder{background-color:transparent;border:none;}
.email-template.folder .meta{background-color:transparent;}
.media:hover div.meta{display:none;}
.media:hover div.meta-action{display:block;}

.progress-bar{background-color:#_Color:Main_;border:2px solid #_Color:Secondary_;height:15px;margin:3px;position:relative;}
.progress-bar .progress{background-color:#_Color:Secondary_;color:#_Color:SecondaryText_;font-size:10px;height:15px;position:absolute;text-align:center;width:0%;}

#test-recipients-bar div{border:1px solid #_Color:Secondary_;border-bottom:none;height:5px;}
#winning-recipients-bar div{border:1px solid #_Color:Secondary_;border-top:none;height:5px;}

.rule-board{background-image:url('_Template:URL_images/backgrounds/input_text_inner_shadow.gif');border:1px solid #a6a6a6;color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:14px;min-height:25px;margin:0px;padding:5px 15px 10px 10px;position:relative;width:300px;}
.rule-board:hover{border:1px solid #0077cc;}
.rule-board-actions{font-size:12px;font-weight:bold;margin:3px auto 0 auto;text-align:center;z-index:99999;}
.rule-board-actions div{text-align:left;}
.rule-board-actions > a{margin-left:9px;}
.rule-board .rules{clear:both;padding-top:18px;text-align:center;}
.rule-board .rules li .main-action-with-menu{margin-bottom:9px;}
.rule-board .rules > ul,
.rule-board .rules > div > ul{list-style:none;margin:0px auto 18px auto;padding:0px;text-align:center;width:100%;}
.rule-board .rules > div.segment-rules{border:1px solid #a6a6a6;display:inline-block;margin:0 auto;padding:9px 27px 9px 27px;position:relative;width:300px;-moz-box-shadow:3px 3px 0px #a6a6a6;-webkit-box-shadow:3px 3px 0px #a6a6a6;zoom:1;*display:inline;}
.rule-board .rules > div.segment-rules.opened{padding-top:27px;width:auto;}
.rule-board .rules > div.segment-rules #segment-rule-list{display:none;}
.rule-board .rules > div.segment-rules.opened #segment-rule-list{display:block;}
.rule-board .rules > div.segment-rules .segment-rules-label{background-color:#0077cc;color:#fff;cursor:pointer;display:none;font-size:12px;font-weight:bold;padding:2px 9px;position:relative;top:-9px;}
.rule-board .rules > div.segment-rules.opened .segment-rules-label{display:inline-block;zoom:1;*display:inline;}
.rule-board .rules > div.segment-rules .segment-rules-label-closed{color:#a6a6a6;font-size:12px;font-weight:bold;}
.rule-board .rules > div.segment-rules .segment-rules-label-closed span{color:#0077cc;cursor:pointer;}
.rule-board .rules > div.segment-rules.opened .segment-rules-label-closed{display:none;}
.rule-board .rules > ul > li,
.rule-board .rules > div > ul > li{border:1px solid #a6a6a6;color:#676767;display:inline-block;padding:18px 27px 0px 27px;width:auto;zoom:1;*display:inline;}
.rule-board .rules > ul > li > ul,
.rule-board .rules > div > ul > li > ul{list-style:none;margin:0px auto 18px;}
.rule-board .rules ul li.rule{border:1px solid #a6a6a6;box-shadow:3px 3px 0px #a6a6a6;line-height:26px;margin:0 auto;padding:7px 9px;position:relative;-moz-box-shadow:3px 3px 0px #a6a6a6;-webkit-box-shadow:3px 3px 0px #a6a6a6;}
.rule-board .rules ul li.rule div.rule-description{color:#a6a6a6;font-size:10px;line-height:12px;margin-top:2px;text-align:center;}
.rule-board #segment-rule-list div.rule-description{display:none;}
.rule-board .rules ul li.rule input{font-size:11px;height:12px;margin-left:9px;width:100px;}
.rule-board .rules ul li.rule select{margin-left:9px;}
.rule-board .rules ul li.rule > .delete{background-color:#C03B2E;color:#fff;cursor:pointer;display:none;font-size:12px;font-weight:bold;height:28px;left:100%;line-height:28px;position:absolute;top:4px;width:24px;z-index:5;}
.rule-board .rules > ul > li > .add{background-color:#0077cc;color:#fff;cursor:pointer;display:none;font-size:12px;font-weight:bold;height:28px;left:-24px;line-height:28px;position:absolute;top:4px;width:24px;z-index:5;}
.rule-board .rules > div > ul > li > .add{display:none !important;}
.rule-board .rules > ul > li > ul .add,
.rule-board .rules > div > ul > li > ul .add{display:none !important;}
.rule-board .rules ul li.rule:hover > .delete{display:block;}
.rule-board .rules div.segment-rules ul li.rule:hover > .delete{display:none !important;}
.rule-board .rules > ul > li:hover > .add{display:block;}
.rule-board .rules ul li.rule li .field{font-weight:bold;}
.rule-board .rules ul li.rule-separator{background-image:url('_Template:URL_images/rule_board_rule_sep.gif');background-position:top center;border:none;color:#fff;display:block;font-size:11px;height:28px;line-height:28px;margin:-1px auto -6px auto;padding:0px;position:relative;text-align:center;width:43px;z-index:99;}

.subscriber-row:hover td{background-color:#_Color:PageBarBackground_;cursor:pointer;}

.subscriber-detailed-activity-table{border:1px solid #_Color:Secondary_;display:none;max-height:200px;overflow:auto;position:absolute;width:400px;}
.subscriber-detailed-activity-table td{background-color:#_Color:HeaderNavPassive_ !important;border-bottom:1px solid #_Color:Secondary_;color:#_Color:HeaderNavPassiveText_ !important;}
.subscriber-detailed-activity-table tr:last-child td{border:none;}
.subscriber-row-selected{background-color:#_Color:Secondary_ !important;color:#_Color:SecondaryText_ !important;padding:1px 5px;}

#form-preview-tab {background-image:url('_Template:URL_images/backgrounds/input_text_inner_shadow.gif');color:#4c4c4c;font-family:Helvetica,Arial,sans-serif;font-size:14px;min-height:25px;margin:0px;padding:20px 250px 20px 20px;position:relative;width:405px;}
#form-preview div.o-form-row{border:1px solid transparent;cursor:move;}
#form-preview div.o-form-row:hover{border:1px solid #c0c0c0;}
#form-preview h2:hover,
#form-preview p:hover,
#form-preview label:hover{cursor:pointer;text-decoration:underline;}
#form-preview div.o-form-row.ui-sortable-helper{background-color:#fff;-webkit-box-shadow:3px 3px 0px rgba(0,0,0,0.3);}

#form-style-chooser{background-color:#a6a6a6;color:#fff;font-size:11px;position:absolute;top:0px;right:0px;width:200px;height:50px;padding:9px 18px 3px 18px;}
#form-style-chooser label{font-weight:bold;}

.form-preview-container{margin-left:18px;width:450px;}
.form-preview-container .form-preview-container-content{border:1px solid #a6a6a6;}
.form-preview-container .tabs{height:21px;}
.form-preview-container .tabs a{color:#0077cc;padding:5px 12px;}
.form-preview-container .tabs a.selected{background-color:#_Color:Secondary_;color:#fff !important;font-weight:bold;text-decoration:none;}
.form-preview-container .form-row label{width:80px;}
.form-preview-container .form-row .form-row-note{margin-left:80px;}

/* Blueprint CSS Framework Modifications */
div.snap-1,div.snap-2,div.snap-3,div.snap-4,div.snap-5,div.snap-6,div.snap-7,div.snap-8,div.snap-9,div.snap-10,div.snap-11,div.snap-12,div.snap-13,div.snap-14,div.snap-15,div.snap-16,div.snap-17,div.snap-18,div.snap-19,div.snap-20,div.snap-21,div.snap-22,div.snap-23,div.snap-24{margin-right:0px;}
.snap-1{width:40px;}
.snap-2{width:80px;}
.snap-3{width:120px;}
.snap-4{width:160px;}
.snap-5{width:200px;}
.snap-6{width:240px;}
.snap-7{width:280px;}
.snap-8{width:320px;}
.snap-9{width:360px;}
.snap-10{width:400px;}
.snap-11{width:440px;}
.snap-12{width:480px;}
.snap-13{width:520px;}
.snap-14{width:560px;}
.snap-15{width:600px;}
.snap-16{width:640px;}
.snap-17{width:680px;}
.snap-18{width:720px;}
.snap-19{width:760px;}
.snap-20{width:800px;}
.snap-21{width:840px;}
.snap-22{width:880px;}
.snap-23{width:920px;}

/* CSS Plugin - Start */
	/* Core */
	.csspie{background-position:0px 0px;display:inline-block;float:left;margin-right:3px;zoom:1;*display:inline;}
	.csspie.d0,.csspie.d10,.csspie.d20,.csspie.d30,.csspie.d40,.csspie.d50,.csspie.d60,.csspie.d70,.csspie.d80,.csspie.d90,.csspie.d100,.csspie.d110,.csspie.d120{}

	/* Themes */
		/* Thumb Blue */
		.csspie.thumb-blue{background-image:url('_Template:URL_images/csspie-thumbblue.png');height:14px;width:14px;}
		.csspie.thumb-blue.d0{background-position:0px 0px;}
		.csspie.thumb-blue.d10{background-position:0px -14px;}
		.csspie.thumb-blue.d20{background-position:0px -28px;}
		.csspie.thumb-blue.d30{background-position:0px -42px;}
		.csspie.thumb-blue.d40{background-position:0px -56px;}
		.csspie.thumb-blue.d50{background-position:0px -70px;}
		.csspie.thumb-blue.d60{background-position:0px -84px;}
		.csspie.thumb-blue.d70{background-position:0px -98px;}
		.csspie.thumb-blue.d80{background-position:0px -112px;}
		.csspie.thumb-blue.d90{background-position:0px -126px;}
		.csspie.thumb-blue.d100{background-position:0px -140px;}
		.csspie.thumb-blue.d110{background-position:0px -154px;}
		.csspie.thumb-blue.d120{background-position:0px -168px;}
/* CSS Plugin - End