
@font-face {
    font-family: 'Noto Kufi Arabic';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot);
    src: url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notokufiarabic/v2/NotoKufiArabic-Regular.ttf) format('truetype');
}



body {
     font-family: 'Noto Kufi Arabic', serif;
    font-size: 14px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 ,
.dropdown-menu{
    font-family: 'Noto Kufi Arabic', serif;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: 13px;
}
.table td, .table th {
    font-size: 15px;
}
.table thead tr th {
    font-size: 15px;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 17px;
}
.portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
    font-size: 17px;
}
.page-sidebar .page-sidebar-menu>li>a>.title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title {
    font-size: 16px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 15px;
    font-weight: bold;
}


