.ajax-upload-dragdrop
{
    border: none;
}
.ajax-upload-dragdrop {

    padding: 0;
}

.ajax-file-upload-statusbar {
    border: 1px dashed #ddd;
}
.ajax-upload-dragdrop
{
    border: none;
    color: #dadce3;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 5px 5px;
}
.ajax-upload-dragdrop {
    text-align: left;
}
#commentButton
{
    margin-left: 5px;
}
