@media (min-width: 992px)
{
    .page-sidebar.navbar-collapse {
        max-height: none!important;
        min-height: 480px;
    }
}


label.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.chats li.in .message .arrow {
    border-right: 8px solid #F3565D;
}
.chats li.in .message {
    border-left: 2px solid #F3565D;
}

.username
{
    font-size: 15px;
    font-weight: bold;
}

.theme-panel {
    min-width: 375px;
}

.login .content {
    margin: 10px auto 10px;
}

.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before {

    content: "\f105";
}
.login {
    background-color: #f1f1f1 !important;
}
.login .content .create-account {
    background-color: #f1f1f1;
}