.register {
    background-image: url(../img/4th.png) !important; 
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.register .logo {
    margin: 0px auto 0;
    padding: 5px;
    text-align: center;
}

.register .content {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 600px;
    margin: 0px auto 10px;
    padding: 0px 30px 0px;
    overflow: hidden;
    position: relative;
}


.register .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

.portlet.blue, .portlet.box.blue>.portlet-title, .portlet>.portlet-body.blue {
    background-color: #4a2e62;
}

.btn.blue:not(.btn-outline) {
    color: #FFF;
    background-color: #4a2e62;
    border-color: #4a2e62;
}

.btn.blue:not(.btn-outline).active.focus, .btn.blue:not(.btn-outline).active:focus, .btn.blue:not(.btn-outline).active:hover, .btn.blue:not(.btn-outline):active.focus, .btn.blue:not(.btn-outline):active:focus, .btn.blue:not(.btn-outline):active:hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle.focus, .open>.btn.blue:not(.btn-outline).dropdown-toggle:focus, .open>.btn.blue:not(.btn-outline).dropdown-toggle:hover {
    color: #FFF;
    background-color: #4a2e62;
    border-color: #4a2e62;
}

.btn.blue:not(.btn-outline).active, .btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline):hover, .open>.btn.blue:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #4a2e62;
    border-color: #4a2e62;

}

.control-label {
    margin-top: 1px;
    font-weight: 600;
    font-size: 1.1em;
}

.portlet>.portlet-title>.caption {
    float: none;
}
.caption-custom
{
    padding: 22px 0;
    font-size: 21px;
    line-height: 18px;
}

.btn.blue:not(.btn-outline).focus, .btn.blue:not(.btn-outline):focus {
    color: #FFF;
    background-color: #4a2e62;
    border-color: #4a2e62;
}

#tl_popupCL1
{
    z-index: 100 !important;
}