.o-form{background-color:#fff;border:1px solid #f2f2f2;}
.o-form form{margin:0px;padding:0px;}
.o-form .o-form-header{background-color:#f2f2f2;padding:9px;}
.o-form h2{font-family:Arial,sans-serif;font-size:18px;line-height:27px;margin:0px;padding:0px;}
.o-form p{font-family:Arial,sans-serif;font-size:12px;line-height:18px;margin:0px;padding:0px;}
.o-form .o-form-row{margin-top:9px;padding:0 9px;}
.o-form .o-form-row label{font-family:Arial,sans-serif;font-size:12px;display:block;font-weight:bold;}
.o-form input[type="submit"]{margin:20px 9px 18px 9px;}
