.o-form{background-color:#FFF4ED;border:1px solid #814913;}
.o-form form{margin:0px;padding:0px;}
.o-form .o-form-header{background-color:#814913;padding:9px;}
.o-form h2{color:#fff;font-family:Arial,sans-serif;font-size:18px;line-height:27px;margin:0px;padding:0px;}
.o-form p{color:#fff;font-family:Arial,sans-serif;font-size:12px;line-height:18px;margin:0px;padding:0px;}
.o-form .o-form-row{margin-top:9px;padding:0 9px;}
.o-form .o-form-row label{color:#814913;font-family:Arial,sans-serif;font-size:12px;display:block;font-weight:bold;}
.o-form input[type="text"]{border:1px solid #814913;color:#814913;padding:5px 7px;}
.o-form input[type="submit"]{margin:20px 9px 18px 9px;}