body{
    background-color: #eff3f8 !important;
    /*background: url(../../images/viewport-bg.png) !important;*/
}
#sidebar-wrapper {
    margin-left: -100px;
    left: 80px;
    width: 80px;
    background: #4a2e62;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #ffffff;
    display: block;
    float: left;
    width: 80px;
    background: #4a2e62;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar_menu li a:hover, .sidebar-nav li a:hover {
    background: #796799!important;
}
#sidebar_menu li a:focus, .sidebar-nav li a:focus {
    background-color: #fff !important;
    color: #796799 !important;
}
#sidebar_menu li a:focus i, .sidebar-nav li a:focus i{
    color: #796799 !important;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    height: 50px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

#sidebar-opzioni {
    margin-left: 60px;
    width: 250px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    height: 100%;
    display: none;
}

#sidebar-editor {
    width: 380px;
    background: #dedede;
    position: fixed;top:0px;
    z-index: 99;
    height: 100%;
    display: none;
    padding: 5px;
    right: 0;
    /*margin-top: -355px;*/

}

#wrapper {
    /*margin-right: 100px !important;*/
    margin-right: 20px !important;
    margin-left: 20px !important;
}

#tosave {
    padding-left: 0;
    margin-left: 80px;
    width: 100%;
}

.active3 {
    margin-left: 330px !important;
    margin-right: -300px !important;
}

.tab-content .active{
    display: block !important;
}

#imageproperties{
    background: #EDEDED ;
    padding: 4px;
    border: 1px solid #cccccc ;
}

.canvas {
    padding: 10px;
}

.lyrow{
    display:block;
}


.btn.default:not(.btn-outline),.btn-info,.btn-info.focus, .btn-info:focus
{
    color: #fff;
    font-size: 15px !important;
    font-weight: 700;
    background-color: #796799;
    border-color: #e0ebf9;
    border:none;
}
.btn.default:not(.btn-outline):hover ,.btn-info:hover{
    color: #796799;
    background-color: #FAFAFA;
    /*background-color: #f2f2f2;*/
    /*background-color: #fbfcfd;*/
    border-color: #bcc5d4;
}

.btn.default:not(.btn-outline):active, .btn.default:not(.btn-outline).active, .open > .btn.default:not(.btn-outline).dropdown-toggle ,
.btn-info:not(.btn-outline):active, .btn-info:not(.btn-outline).active, .open > .btn-info:not(.btn-outline).dropdown-toggle {
    color: #796799;
    /*background-color: #f2f2f2;*/
    background-color: #fbfcfd;
    border-color: #bcc5d4;
}

div.dragitem{
    border: none !important;
    margin-bottom: 10px !important;
    /*border: 1px solid #e5e5e5 !important;*/
    padding: 10px;
}
div.dragitem:hover {
    background-color: #eff3f8 !important;
}

.footer-data
{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

#tosave
{
    width: 50% !important;
    margin: 0px auto !important;
}