
.navbar-layoutit #menu-layoutit { float:right;}
.navbar-layoutit { min-height: 32px; padding: 5px; background-color: #00a154}
.navbar-layoutit .navbar-brand {width:180px; color:#fff; padding: 0; margin:0 5px; }
.navbar-layoutit .navbar-brand img {float:left; margin:2px 10px 0 0; }
.navbar-layoutit .navbar-brand .label {
    position:relative;
    left:10px;
    top:-3px;
    font-weight:normal;
    font-size:9px;
    background:#666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { margin-left:0px; margin-top:10px; padding:30px 15px 15px; border: 1px solid #DDDDDD; border-radius: 4px; position:relative; word-wrap: break-word;}
.edit .demo:after {

    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "BODY";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
 .configuration  {
    cursor: pointer;
    left: 5px;
    position: absolute;
    top: 25px;
}


.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:400px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:28px; margin-bottom:3px; }
.sidebar-nav li .lyrow { margin-bottom:5px;}
.sidebar-nav .box { line-height:26px; width:160px; height:26px; }
.sidebar-nav .preview { display: block; font-size:12px; line-height:26px;}
.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .addcol,
.sidebar-nav .configuration { display: none; }

.sidebar-nav .boxes { display:none;}

.demo .preview { display: none; }
.demo .box .view { display: block; padding-top:30px;}
.ui-draggable-dragging .view { display:none; }
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }

.edit .drag i {color:#000; text-shadow:0 1px 0 #ddd;}

.box,.lyrow { position:relative;}

.edit .demo .lyrow .drag { top:5px; right:auto; left: 5px; z-index:10; }
.edit .demo .box .drag { top:50px; }

.edit .demo .lyrow .addcol { top:5px; right:auto; left: 5px; z-index:10; }
.edit .demo .box .addcol { top:50px; }

.edit .demo .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }
.edit .demo  .box .configuration:hover { z-index:1001;}

.edit .demo  .navbar-fixed-top {top: 33px; left: 180px;}
.demo .navbar-fixed-top {top: 33px;}
.edit .demo  .navbar-fixed-bottom { left: 180px;}


.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }

.demo .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

.demo  .drag {
	 position: absolute;
    top: 5px;
    right: auto;
    left: 5px;
    z-index: 10;
}


.demo .configuration {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .drag, .demo .remove {
    filter: alpha(opacity=20); opacity: 0.0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .lyrow .active > drag,
.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .addcol,
.demo .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }

.edit .demo .row:before {
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height:2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.demo .row {
    margin:0;
    position: relative;
    padding:0;

}


.demo .row:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border:1px dashed #9DA0A4;
    border-radius: 2px 2px 2px 2px;

}

.demo .active {
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border:1px dashed #9DA0A4;
    border-radius: 2px 2px 2px 2px;
}

/* preview */
body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav {
    left:-200px;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !Important; }
.sourcepreview .column, .sourcepreview .row, .sourcepreview .demo .box {
    margin:0px 0;
    padding:0px;
    background:none;
    border:none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row { padding-top:0; background:none; }

#download-layout { display: none }
#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }
a.language-selected { font-style: italic; font-weight: bold; }

.modal-body { padding-bottom:0; }
.modal-footer { margin-top:0; }

/************/

.tab-content {
    padding:5px;
}

.color-circle {
    border :1px solid #666;
    border-radius: 30px;
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.colpick {
    z-index: 10000;
}

#fonttext {
    background-color: #fff;
    cursor: pointer;
}

.color-box {
    border :1px solid #666;
    height: 25px;
    width:  25px;
    display: block;
    position: absolute;
}

li.list-group-item:hover {
    color : #00a154;
}

div.mce-widget {
  display: inline-table;
}

#settings { overflow : auto ; min-height: 800px}
.orderbutton {
    cursor: move;
}
.stylebutton {
    cursor: pointer;
}

div.dragitem {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 240px;
    padding:0px;
    vertical-align: top;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}

div.dragitem:hover {
    background-color:#dff0d8;
}

div.icon {
  display: block;
  height: 40px;
  margin-left: 16px;
  margin-right: 15px;
}

#previewFrame {
    border : 20px solid black;
    border-radius: 8px;
}

.smallphone {
    width: 240px;
    height: 320px;
}

.iphone {
    width: 320px;
    height: 480px;
}
.smalltablet {
    width: 480px;
    height: 640px;
}
.ipad {
    width: 768px;
    height: 1024px;
}

div.view {
    width:640px;
}
.mce-container {
    z-index : 10000;
}

.navbar{
    background: #59b7a3 !important;
}


#messagefromphp a,#messagefromphp2 a{
  color:#000000 !important;
}

.lyrow{
	padding:0px !important;
	margin:0px !important;
}
