<div class="lyrow dragitem">
    <a href="#close" class="remove label label-danger"><i class="glyphicon-remove glyphicon"></i></a>
    <span class="drag label label-default hide"><i class="glyphicon glyphicon-move"></i></span>
    <span class="configuration"> <a href="#" class="btn btn-default btn-xs clone"><i class="glyphicon glyphicon glyphicon-menu-hamburger"></i> </a>  </span>

    <div class="preview">
        <img src="elements/tools/line1.jpg" width="200"/>
    </div>
    <div class="view">
        <div class="row clearfix">
            <table class="main" width="640" style="border:0px; background-color: #FFFFFF" cellspacing="0" cellpadding="0" border="0" align="center" data-type='line'>
                <tr>
                    <td class="divider-simple" style="padding: 15px 50px 0px 50px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid #DADFE1;">
                            <tr>
                                <td width="100%" height="15px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
