body{background:#f0f0f0;background-repeat:no-repeat;font-family:Arial,sans-serif;font-size:12px;margin:0;padding:0 !important}body a{text-decoration:none}
#page-code-editor{background:#d1e3f3 url(../images/big-icon@2x.png) 105% 58% no-repeat;margin:0 auto;min-width:980px}
#page-code-editor-header{background:transparent;min-width:1000px;padding:16px 8px 8px 8px;position:relative}#page-code-editor-header .button-container{background:#07c;border-bottom-left-radius:4px;padding:8px;position:absolute;right:0;top:0}#page-code-editor-header .button-container a{background:#001e33;border-radius:3px;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.15),inset 0 14px 0 0 rgba(255,255,255,0.31);-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.15),inset 0 14px 0 0 rgba(255,255,255,0.31);box-shadow:0 2px 0 0 rgba(0,0,0,0.15),inset 0 14px 0 0 rgba(255,255,255,0.31);color:#fff;display:inline-block;float:left;font-family:Arial,sans-serif;font-size:12px;font-weight:bold;height:27px;line-height:27px;overflow:hidden;padding:0 8px;position:relative}#page-code-editor-header .button-container a span{background:url(../images/form-popup-loading.gif) top left repeat;color:#616265;display:none;font-size:11px;height:100%;left:0;position:absolute;text-align:center;top:0;width:100%}#page-code-editor-header .button-container a span.success{background:#d0e1ac}
#page-code-editor-header .button-container a span.fail{background:#d99b9c}
#page-code-editor-header .button-container a.loading{cursor:default}#page-code-editor-header .button-container a.loading span.loading{display:block}
#page-code-editor-header .button-container a.success{cursor:default}#page-code-editor-header .button-container a.success span.success{display:block}
#page-code-editor-header .button-container a.fail{cursor:default}#page-code-editor-header .button-container a.fail span.fail{display:block}
#page-code-editor-header .button-container a.disabled{background:#a8cbe9 !important;box-shadow:inset 0 3px 1px rgba(0,119,204,0.5);line-height:29px;text-decoration:none !important}
#page-code-editor-header .button-container a+a{margin-left:8px}
#page-code-editor-header .button-container a:hover{background:#000;text-decoration:none !important}
#page-code-editor-header .button-container a.primary{background:#fff;color:#000}#page-code-editor-header .button-container a.primary:hover{background:#a8cbe9}
#page-code-editor-header .button-container a.secondary{background:transparent;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;color:#a8cbe9}#page-code-editor-header .button-container a.secondary:hover{background:rgba(168,203,233,0.2)}
#page-code-editor-header .error-container{background:#d99b9c;border-radius:4px;border-top-right-radius:0;border-bottom-right-radius:0;color:#07c;display:none;font-size:12px;font-weight:bold;line-height:17px;max-width:237px;min-height:17px;padding:8px 16px;position:absolute;right:0;top:45px}#page-code-editor-header .error-container a{color:#005999;text-decoration:underline}
#page-code-editor-header .page-editor-header-form-row{clear:both;height:27px}#page-code-editor-header .page-editor-header-form-row label{display:inline-block;float:left;font-family:Monaco,monospace;font-size:12px;line-height:27px;margin-right:8px;text-align:right;width:62px}
#page-code-editor-header .page-editor-header-form-row input[type="text"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;background:#fff;border:1px solid #a4c9e8;border-radius:3px;color:#000;cursor:pointer;display:inline-block;font-family:Arial,sans-serif;font-size:12px;height:27px;line-height:27px;margin:0 8px 0 0;min-width:310px;padding:0 8px}
#page-code-editor-header .page-editor-header-form-row .page-editor-input-sidekick{color:#000;font-size:11px;height:27px;line-height:27px;position:relative}#page-code-editor-header .page-editor-header-form-row .page-editor-input-sidekick a{color:#225785}
#page-code-editor-header .page-editor-header-form-row .page-editor-input-sidekick select{cursor:pointer;left:0;position:absolute;top:-5px;width:120px;-webkit-opacity:0;-moz-opacity:0;-ms-opacity:0;opacity:0}
#page-code-editor-header .page-editor-header-form-row .page-editor-input-sidekick.error{color:#f00;font-weight:bold}
#page-code-editor-header .page-editor-header-form-row+.page-editor-header-form-row{margin-top:8px}
#page-code-editor-tab-container{background:transparent;height:27px;padding:0 8px 0 78px}#page-code-editor-tab-container a{background:#e1edf7;border-radius:3px;border-bottom-left-radius:0;border-bottom-right-radius:0;border:1px solid #a4c9e8;border-bottom:none;color:#000;float:left;font-size:12px;height:26px;line-height:26px;padding:0 12px;position:relative;z-index:92}#page-code-editor-tab-container a+a{margin-left:8px}
#page-code-editor-tab-container a:hover{background:#e9f2f9;text-decoration:none !important}
#page-code-editor-tab-container a.selected{background:#fff;height:27px;line-height:26px}#page-code-editor-tab-container a.selected:hover{background:#fff}
.page-code-editor-tab-content{background:#fff;display:none;overflow:auto;position:absolute;width:100%}.page-code-editor-tab-content .block-tooltip{background:#07c;border-radius:2px;color:#a8cbe9;display:none;font-size:10px;height:22px;left:80px;line-height:22px;min-width:50px;padding:0 8px 0 4px;position:absolute;top:0;z-index:92}.page-code-editor-tab-content .block-tooltip:after{border:11px solid transparent;border-right:11px solid #07c;border-left:none;content:" ";height:0;left:-11px;position:absolute;top:0;width:0;z-index:93}
.page-code-editor-tab-content iframe{left:0;position:absolute;top:38px;width:100%}.page-code-editor-tab-content iframe#page-code-editor-builder-iframe{left:79px}
.page-code-editor-tab-content .page-code-editor-tab-content-form-container{margin-top:18px;padding-left:78px;width:500px}
.page-code-editor-tab-content .page-code-editor-tab-toolbar{border-bottom:1px solid #a4c9e8;border-top:1px solid #a4c9e8;height:36px;line-height:36px;padding:0 8px 0 78px;position:relative;z-index:91}.page-code-editor-tab-content .page-code-editor-tab-toolbar.hidden{border-bottom:none;height:1px}
.page-code-editor-tab-content .page-code-editor-tab-toolbar>a,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a{border:1px solid #a8cbe9;border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;color:#225785;float:left;line-height:21px;height:21px;margin-top:7px;padding:0 8px;position:relative}.page-code-editor-tab-content .page-code-editor-tab-toolbar>a:hover,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group:hover,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a:hover{background:#d1e3f3;text-decoration:none !important}
.page-code-editor-tab-content .page-code-editor-tab-toolbar>a+a,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group+a,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a+a,.page-code-editor-tab-content .page-code-editor-tab-toolbar>a+div.with-drop,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group+div.with-drop,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a+div.with-drop,.page-code-editor-tab-content .page-code-editor-tab-toolbar>a+div.toolbar-button-group,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group+div.toolbar-button-group,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a+div.toolbar-button-group{margin-left:8px}
.page-code-editor-tab-content .page-code-editor-tab-toolbar>a span,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group span,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a span{background:url(../images/form-popup-loading.gif) top left repeat;display:none;height:100%;left:0;position:absolute;text-align:center;top:0;width:100%}
.page-code-editor-tab-content .page-code-editor-tab-toolbar>a.loading,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group.loading,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a.loading{cursor:default}.page-code-editor-tab-content .page-code-editor-tab-toolbar>a.loading span,.page-code-editor-tab-content .page-code-editor-tab-toolbar>.toolbar-button-group.loading span,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a.loading span{display:block}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group{float:right;padding-left:0;padding-right:0}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group:hover{background:#fff}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group:hover a{text-decoration:none}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group>a{color:#225785;float:left;line-height:19px;padding:0 8px}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group>a.selected{background:#d1e3f3}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group>a.selected:hover{text-decoration:none !important}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.toolbar-button-group>a+a{border-left:1px solid #d1e3f3}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop{float:left;margin-top:7px;position:relative}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop+div.with-drop,.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop+a{margin-left:8px}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a{margin-top:0;padding-right:24px}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop>a:after{border:5px solid transparent;border-bottom:none;border-top:5px solid #225785;content:" ";height:0;position:absolute;right:8px;top:7px;width:0}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul{background:#fff;border:1px solid #a4c9e8;border-radius:2px;box-shadow:0 2px 4px 0 #a4c9e8;display:none;left:0;list-style:none;margin:0;overflow:auto;padding:0;position:absolute;top:20px;width:300px;z-index:90}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul li{height:21px;line-height:21px;margin:0;padding:0}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul li+li{border-top:1px solid #d1e3f3}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul li a{border-radius:1px;color:#225785;display:block;height:21px;line-height:21px;padding:0 8px}.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul li a:hover{background:#d1e3f3;text-decoration:none !important}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop ul li a span{color:#a4c9e8;float:right;font-size:10px}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop.open>a{background:#a4c9e8}
.page-code-editor-tab-content .page-code-editor-tab-toolbar div.with-drop.open ul{display:block}
.page-code-editor-tab-content .page-code-editor-tab-sidebar{background:#fff;border-right:1px solid #a4c9e8;height:100%;position:absolute;top:37px;width:78px;z-index:91}.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents{background:#d1e3f3;border-bottom-right-radius:6px;border:1px solid #a8cbe9;display:none;left:78px;min-height:286px;min-width:190px;position:absolute;top:0;z-index:2}.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents h2{color:#276499;font-size:14px;font-weight:normal;margin:20px 10px 0 10px;text-align:center}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents p{color:#5398d3;font-size:10px;font-weight:normal;line-height:14px;margin:3px 10px 15px 10px;text-align:center}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div{background:url(../images/icon-block-frame-sprite.png) top left no-repeat;color:#276499;float:left;font-size:11px;height:45px;line-height:14px;margin-left:17px;margin-top:5px;overflow:hidden;padding-top:66px;position:relative;text-align:center;width:66px}.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div:hover{background-position:-80px 0}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .label-container{color:#5398d3}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container{background:url(../images/icon-block-sprite.png) top left no-repeat;cursor:-moz-grab;cursor:-webkit-grab;cursor:grab;height:60px;left:0;position:absolute;top:0;width:66px}.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.text{background-position:0 -60px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.text-with-image-on-left{background-position:0 0}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.text-with-image-on-right{background-position:0 -180px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.text-with-image-on-top{background-position:0 -240px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.two-column-text{background-position:0 -120px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.blockquote{background-position:0 -300px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.one-column-gallery{background-position:0 -360px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.two-column-gallery{background-position:-66px 0}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.three-column-gallery{background-position:-66px -60px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.divider{background-position:-66px -120px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.spacer{background-position:-66px -180px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.call-to-action{background-position:-66px -240px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.form{background-position:-66px -300px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .block-folder-contents>div .icon-container.video{background-position:-66px -360px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder{border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-sizing:boder-box;-moz-box-sizing:boder-box;-ms-box-sizing:boder-box;-o-box-sizing:boder-box;box-sizing:boder-box;display:block;height:70px;position:relative;width:79px;z-index:3}.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-icon{background:url(../images/icon-block-folder-sprite.png) top left no-repeat;height:50px;left:8px;position:absolute;top:10px;width:62px}.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-icon.block-folder-base{background-position:0 -200px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-abc{background-position:0 0}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-media{background-position:0 -50px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-buttons{background-position:0 -100px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder .block-folder-other{background-position:0 -150px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover{background:#d1e3f3;border-top:1px solid #a8cbe9;border-bottom:1px solid #a8cbe9}.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover .block-folder-base,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover .block-folder-base{background-position:-62px -200px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover .block-folder-abc,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover .block-folder-abc{background-position:-62px 0}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover .block-folder-media,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover .block-folder-media{background-position:-62px -50px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover .block-folder-buttons,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover .block-folder-buttons{background-position:-62px -100px}
.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder:hover .block-folder-other,.page-code-editor-tab-content .page-code-editor-tab-sidebar .page-code-editor-builder-block-folder.hover .block-folder-other{background-position:-62px -150px}
.form-popup-overlay{background:rgba(168,203,233,0.6);height:100%;left:0;position:fixed;top:0;width:100%;z-index:99}
.form-popup{border-radius:3px;background:#fff;-moz-box-shadow:0 2px 4px 0 #5398d3;-webkit-box-shadow:0 2px 4px 0 #5398d3;box-shadow:0 2px 4px 0 #5398d3;display:none;padding:12px;position:absolute;z-index:100}.form-popup .form-popup-arrow{border:10px solid transparent;border-top:none;border-bottom:10px solid #fff;height:0;left:20px;position:absolute;top:-10px;width:0}
.form-popup .form-popup-loading,.form-popup .form-popup-success{display:none;background:url(../images/form-popup-loading.gif) top left repeat;bottom:12px;color:#fff;font-size:11px;font-weight:bold;height:32px;left:12px;line-height:32px;position:absolute;text-align:center}
.form-popup .form-popup-success{background:#d0e1ac}
.form-popup.loading .form-popup-loading{display:block}
.form-popup.success .form-popup-success{display:block}
.theme-options .form-row,#form-popup-image-editor .form-row{border:none;clear:both}
.theme-options .left,#form-popup-image-editor .left{float:left;width:170px}
.theme-options select,#form-popup-image-editor select,.theme-options input,#form-popup-image-editor input{width:150px}
.sl-font-picker-thumbnail{border:1px solid #66bfff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;color:#000;cursor:pointer;font-size:15px;height:25px;line-height:15px;margin:0;overflow:hidden;padding:5px;width:95%}
.sl-color-picker-thumbnail{border:1px solid #66bfff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;cursor:pointer;height:19px;padding:5px;width:95%}.sl-color-picker-thumbnail>div{height:7px;width:100%}
.sl-color-picker-window{background:#fff;border:1px solid #07c;height:120px;padding:5px;position:absolute;width:250px}.sl-color-picker-window>div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;cursor:pointer;float:left;height:10px;width:10px}.sl-color-picker-window>div:hover{border:1px solid #fff}
.sl-color-picker-window>input[type="text"]{bottom:5px;left:5px;position:absolute}
.sl-color-picker-window>button{bottom:5px;position:absolute;right:5px}
.sl-font-picker-window{background:#fff;border:1px solid #07c;padding:5px 5px 35px 5px;position:absolute;width:250px}.sl-font-picker-window .font-picker-option{border:1px solid #66bfff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;color:#000;cursor:pointer;font-size:12px;height:20px;line-height:12px;margin:0;overflow:hidden;padding:5px;width:100%}.sl-font-picker-window .font-picker-option:hover{background:#d1e3f3}
.sl-font-picker-window .font-picker-option+.font-picker-option{border-top:none}
.sl-font-picker-window>input[type="text"]{bottom:5px;left:5px;position:absolute}
.sl-font-picker-window>button{bottom:5px;position:absolute;right:5px}
#dummy-image-editor-popup-trigger,#dummy-block-editor-popup-trigger{height:25px;left:-100px;position:absolute;top:-100px;width:100px}
#form-popup-block-editor-contents h3{border-bottom:1px solid #ccc;color:#616265;margin:0;padding:0 0 5px 0}
#page-code-editor-preview-iframe{background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-shadow:0 0 30px rgba(164,201,232,0.5);box-sizing:border-box;border:1px solid #a4c9e8;border-bottom:none;border-top-left-radius:12px;border-top-right-radius:12px;margin-top:36px;padding:0;position:absolute;z-index:2}
#page-code-editor-preview-iframe-frame{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;border:1px solid #a4c9e8;border-bottom:none;border-top-left-radius:12px;border-top-right-radius:12px;content:" ";display:block;margin-top:18px;position:absolute;z-index:1}#page-code-editor-preview-iframe-frame.loading{background:url(../images/form-popup-loading.gif) top left repeat}
#page-editor-preloader{background:rgba(164,201,232,0.8);height:100%;left:0;position:absolute;top:0;width:100%;z-index:9999999999}
.form-row{display:block;margin-top:1em}
.form-row label{color:#333;display:block;font-weight:bold}
.form-row+.form-row{border-top:1px solid #eee;padding-top:.5em}
.form-row.last{background:#a8cbe9;clear:both;margin-top:.3em;padding:.3em .1em}
.form-row.last a{color:#333;text-decoration:underline}
#popup-media-library{border-radius:3px;background:#fff;-moz-box-shadow:0 2px 4px 0 #5398d3;-webkit-box-shadow:0 2px 4px 0 #5398d3;box-shadow:0 2px 4px 0 #5398d3;display:none;height:350px;padding:12px;position:absolute;width:600px;z-index:100}#popup-media-library iframe{height:100%;width:100%}
