@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300,400);

.birdie-plan {
    background-color: white;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 50%, #E6E6E6 100%);
    border: 1px solid #CECECE;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    width: 910px;
    min-height: 350px;
    border-bottom: 4px solid #ccc;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
}
.note-birdie
{
    width: 910px;
}
.birdie-drop {
    margin-bottom: 6px;
}
h2 {
    color: #575B63;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    margin: 26px 0;
    padding: 0 26px;
}
.birdie-plan-subscriber-count {
    color: #575B63;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.birdie-plan-subscriber-count p {
    margin: 0;
    position: absolute;
    right: 26px;
    top: -52px;
}
.birdie-plan-subscriber-count p strong {
    font-weight: 500;
}
.plan-container {
    padding: 0 26px 26px 26px;
}
.plan-container > div {
    padding-bottom: 26px;
    padding-top: 26px;
    width: 194px
}
.plan-container > div.monthly-plan {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, .05) 100%);
    border-right: 1px solid #E2E2E2;
    float: left;
    padding-right: 39px;
    width: 310px;
    padding-left: 20px;
    min-height: 280px;
}

.plan-container > div.current-plan {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, .05) 100%);
    border-right: 1px solid #E2E2E2;
    float: left;
    padding-right: 39px;
    width: 250px;
     min-height: 280px;
}
.plan-container > div.future-plan {
    float: right;
    width: 280px;
     min-height: 280px;
}
.plan-container > div h3 {
    color: #575B63;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 6px 0;
    padding: 0;
}
.plan-container > div > p {
    color: #878D99;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 0 13px 0;
    padding: 0;
}
.plan-container > div div.price {
    background-color: transparent;
    color: #878D99;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 26px 0;
    padding: 0;
    position: relative;
}
.plan-container > div .sign {
    color: #575B63;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-right: 3px;
}
.plan-container > div span.price {
    color: #575B63;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    margin-right: 6px;
    position: relative;
    top: 3px;
}
.plan-container .current-plan-sub-links {
    font-size: 11px;
    margin-top: 13px;
}
.birdie-plan-loading .plan-container .current-plan-sub-links {
    display: none;
}
.plan-container .current-plan-purchase-credits {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-top: 26px;
    padding: 13px;
}
.birdie-plan-loading .plan-container .current-plan-purchase-credits {
    display: none;
}
.plan-container .js-stripe-cancel {
    color: #BB2A2A;
}
.birdie-plan-progress {
    background-color: transparent;
    border-top-left-radius: 4px;
    box-shadow: inset 0 2px 0 0 #ED1C24;
    display: none;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 0%;
    z-index: 1;
}
.birdie-plan-loading .birdie-plan-progress {
    display: block;
}
.birdie-plan-notification-bar {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24), inset 0px 0px 0px 0px rgba(255, 255, 255, 0.80);
    box-sizing: border-box;
    height: 39px;
    line-height: 39px;
    margin: 13px 26px;
    padding: 0 26px;
    position: relative;
}
.birdie-plan-notification-bar.error {
    background-color: #ED1C24;
}
.birdie-plan-notification-bar.success {
    background-color: #7EBE39;
}
.birdie-plan-notification-bar p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 39px;
    margin: 0;
    padding: 0;
}
.birdie-plan-notification-bar.error p {
    color: white;
}
.birdie-plan-notification-bar.success p {
    color: white;
}
.birdie-plan-loading .birdie-button {
    display: none !important;
}
.birdie-plan .next-billing {
    color: #878D99;
}
.birdie-clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.birdie-label {
    box-sizing: border-box;
    color: #575B63;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 20px;
    margin-right: 6px;
    padding: 0 6px;
    text-transform: uppercase;
}
.birdie-label-boost {
    color: #7EBE39;
    font-weight: 400;
}
.birdie-label i.fa {
    margin-right: 6px;
}
.birdie-label i.fa-play {
    color: #7ED321;
}
.birdie-label i.fa-pause {
    color: #D0021B;
}
.birdie-label i.fa-circle-o {
    color: #F5A623;
}

.birdie-notification-bar {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24), inset 0px 0px 0px 0px rgba(255,255,255,0.80);
    box-sizing: border-box;
    height: 39px;
    line-height: 39px;
    margin: 13px 0;
    padding: 0 26px;
    position: relative;
}
.birdie-notification-bar.error {
    background-color: #ED1C24;
}
.birdie-notification-bar.success {
    background-color: #7EBE39;
}
.birdie-notification-bar p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 39px;
    margin: 0;
    padding: 0;
}
.birdie-notification-bar.error p {
    color: white;
}
.birdie-notification-bar.success p {
    color: white;
}
.birdie-paginator {
    font-family: 'Roboto', sans-serif;
    margin: 13px 0;
}
.birdie-paginator.disabled {
    opacity: .2;
}
.birdie-paginator ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.birdie-paginator ul li {
    display: inline-block;
}
.birdie-paginator ul li a {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    color: #878787;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0 13px;
    text-decoration: none;
}
.birdie-paginator ul li a:hover {
    background-color: #FAF8E6;
}
.birdie-paginator ul li + li a {
    border-left: none;
}
.birdie-paginator ul li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.birdie-paginator ul li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.birdie-paginator ul li.selected a {
    background-color: #ED1C24;
    color: white;
}

.birdie-form {
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    margin: 13px 0;
    padding-bottom: 26px;
}
.birdie-form-row {
    margin-top: 13px;
    padding: 0 26px;
}
.birdie-form label {
    color: #878787;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.birdie-form input[type="text"],
.birdie-form input[type="email"] {
    background: #FFFFFF;
    border: 2px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #616265;
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    padding: 0 13px;
}
.birdie-form input[type="text"]:focus,
.birdie-form input[type="email"]:focus,
.birdie-form textarea {
    border-color: #ED1C24;
    outline: none;
}
.birdie-form textarea {
    background: #FFFFFF;
    border: 2px solid #D0D0D0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #616265;
    font-size: 16px;
    line-height: 26px;
    padding: 0 13px;
    width: 100%;
}
.birdie-form p + textarea,
.birdie-form p + input[type="text"],
.birdie-form p + input[type="email"] {
    margin-top: 13px;
}
.birdie-form p {
    color: #878787;
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;
}
.birdie-form-row input[type="submit"],
.birdie-form-row .birdie-button {
    background: #7ED321;
    border: none;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 39px;
    line-height: 39px;
    padding: 0 13px;
}
.birdie-form-row .birdie-button {
    display: inline-block;
}
.birdie-form-row .birdie-button.default {
    background-color: #616265;
}
.birdie-form-row .birdie-button:hover {
    text-decoration: none !important;
}
.birdie-form-row p.error {
    color: #ED1C24;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.birdie-campaign-list {
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin: 13px 0;
}
.birdie-campaign-list.disabled {
    opacity: .2;
}
.birdie-campaign-list table {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.birdie-campaign-list table th {
    border-bottom: none !important;
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    padding: 0 13px;
    text-align: right;
}
.birdie-campaign-list table td {
    border-bottom: none !important;
    padding: 13px;
    vertical-align: top;
}
.birdie-campaign-list table tr + tr td {
    border-top: 1px solid #E0E0E0;
}
.birdie-campaign-list table .thumbnail {
    float: right;
    height: 50px;
    width: 100px;
}
.birdie-campaign-list table .thumbnail div {
    background-color: white;
    border: 1px solid #E0E0E0;
    border-bottom: 1px solid #AAAAAA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: 13px;
    top: 13px;
    -webkit-transition: height .15s ease-in-out, top .15s ease-in-out;
    -moz-transition: height .15s ease-in-out, top .15s ease-in-out;
    -o-transition: height .15s ease-in-out, top .15s ease-in-out;
    transition: height .15s ease-in-out, top .15s ease-in-out;
    width: 100px;
    z-index: 2;
}
.birdie-campaign-list table .thumbnail div img {
    width: 100%;
}
.birdie-campaign-list table tr:hover .thumbnail div {
    height: 100px;
    top: -37px;
}
.birdie-campaign-list.type-draft table .thumbnail {
    width: 300px;
}
.birdie-campaign-list table td.count {
    background-color: #F5F5F5;
    color: #575B63;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 26px;
    padding-top: 26px;
    text-align: right;
    width: 95px;
}
.birdie-campaign-list table tr td.count.first {
    border-left: 1px solid #E0E0E0;
}
.birdie-campaign-list table td.count .rate {
    color: #878787;
    font-size: 14px;
    font-weight: 300;
}
.birdie-campaign-list table td.count .rate-small {
    color: #7EBE39;
    font-size: 12px;
    font-weight: 300;
}
.birdie-campaign-list table .campaign-actions {
    opacity: .3;
    padding-top: 6px;
}
.birdie-campaign-list table tr:hover .campaign-actions {
    opacity: 1;
}
.birdie-campaign-list table .campaign-actions a {
    color: #4A90E2;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    margin-right: 13px;
    text-decoration: none;
}
.birdie-campaign-list table .campaign-actions a.birdie-confirm-delete-link {
    color: #ED1C24;
}
.birdie-campaign-list table .campaign-name {
    color: #575B63;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.birdie-campaign-list table .campaign-name .campaign-boost-ref,
.birdie-campaign-list table .campaign-name .campaign-repeat-meta {
    color: #878787;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 6px;
}
.birdie-campaign-list table .campaign-name .campaign-boost-ref strong,
.birdie-campaign-list table .campaign-name .campaign-repeat-meta strong {
    font-weight: 400;
}
.birdie-campaign-list table .campaign-name .campaign-boost-ref a,
.birdie-campaign-list table .campaign-name .campaign-repeat-meta a {
    color: #878787;
}
.birdie-campaign-list table .campaign-name a {
    color: #575B63;
    text-decoration: none;
}
.birdie-campaign-list table .campaign-name a:hover {
    text-decoration: underline;
}
.birdie-campaign-list table .campaign-date {
    color: #878787;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
}
.birdie-campaign-list table .campaign-conversions {
    background-color: #DDF5DB;
    border-radius: 5px;
    color: #575B63;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    margin: 7px 0;
    padding: 5px 10px;
}
.birdie-campaign-list table .campaign-conversions span {
    background-color: #3DB134;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 5px;
    padding: 0px 10px;
}
.birdie-campaign-list table tr:hover td {
    background-color: #FAF8E6;
}
.birdie-campaign-list .empty-state-message {
    color: #808080;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 52px;
    margin: 26px 0;
    padding: 0;
    text-align: center;
}
.birdie-campaign-list .empty-state-message + p {
    margin-bottom: 52px;
    text-align: center;
}
.birdie-campaign-list .campaign-id {
    bottom: 6px;
    color: #878787;
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    right: 13px;
}
.birdie-campaign-list .campaign-info {
    position: relative;
}
.birdie-campaign-list-rename {
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
    color: #575B63;
    display: none;
    margin-top: 13px;
    padding: 13px;
    position: relative;
}
.birdie-campaign-list-rename a {
    color: #575B63;
}
.birdie-campaign-list-rename input[type="text"] {
    border-radius: 4px;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 6px;
    padding: 0 13px;
    width: 220px;
}
.birdie-campaign-list-rename input[type="text"]:focus {
    border-color: #ED1C24;
    outline: none;
}
.birdie-campaign-list-rename button {
    background: #7EBE39;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
    line-height: 26px;
    padding: 0 13px;
    text-transform: uppercase;
}
.birdie-campaign-list-rename div.birdie-bar-progress {
    background-color: transparent;
    border-top-left-radius: 4px;
    box-shadow: inset 0 2px 0 0 #ED1C24;
    display: none;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 0%;
    z-index: 1;
}
.birdie-campaign-list-rename.birdie-campaign-list-rename-loading div.birdie-bar-progress {
    display: block;
}
a.birdie-confirmed-link {
    position: relative !important;
}
a.birdie-confirmed-link span.birdie-confirmation-link-expire {
    background-color: #ED1C24;
    bottom: -4px;
    display: none;
    height: 2px;
    left: 0;
    opacity: .2;
    position: absolute;
    width: 100%;
}
a.birdie-confirmed-link.visible span.birdie-confirmation-link-expire {
    display: block;
}


a.birdie-button {
    background: #796799 ;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    min-height: 26px;
    line-height: 26px;
    padding: 0 13px;
    text-align: center;
}
a.birdie-button.search {
    background: #ED1C24;
    color: white;
}
a.birdie-button.success {
    background: #7ED321;
    color: white;
}
a.birdie-button.alert {
    background: #F78B54;
    color: white;
}
a.birdie-button.disabled {
    background: #E2E2E2;
    color: #616265;
    cursor: default !important;
}
a.birdie-button.large {
    height: 39px;
    line-height: 39px;
}
a.birdie-button.inline {
    display: inline-block;
    position: absolute;
    bottom: 30px;
}
a.birdie-button:hover {
    text-decoration: none !important;
}

.link-custom:hover
{
    text-decoration: none;
}
.birdie-plan h2 {
    color: #4a2e62;
    /* font-size: 26px; */
    font-size: 18px;
    font-weight: bold;
    /* line-height: 26px; */
    line-height: 32px;
    /* margin: 26px 0; */
    margin: 20px 0 5px;
    padding: 0 26px;
}