.page-header .page-header-top .page-logo .logo-default {
    margin: 0;
    margin-top: -18px;
}

.page-header {
    background-color: transparent;
}

body
{
    /*background-image: url(../img/4th.png) !important;*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #eff3f8 !important;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:active, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:focus, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:hover {
    background-color: transparent !important;
}

.btn.purple:not(.btn-outline) {
    color: #fff;
    background-color: #4a2e62;
    border-color: #4a2e62;
}
.btn.purple:not(.btn-outline).active, .btn.purple:not(.btn-outline):active, .btn.purple:not(.btn-outline):hover, .open>.btn.purple:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #563473 ;
    border-color: #563473 ;

}
.portlet.box.purple>.portlet-title, .portlet.purple, .portlet>.portlet-body.purple {
    background-color: #4a2e62;
}
.portlet.box.purple {
    border: none;
}

.custom_list {
    border-radius: 6px 6px 0 0 !important;
    padding-bottom: 5px !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
    background: #f9fcf7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */

}
.info-box
{
    background: #FAFAFA;
    padding: 10px 0px;
}
.custom_link{
    font-weight: bold;
    color:#4a2e62;
}

.list_custom
{
    background: #fff;
}

.btn-custom
{
    border-radius: 6px !important;
    border: none;
    text-transform: none;
}
.fa-custom
{
    /*margin-left:10px;*/
}

.list-thumb-custom
{
    padding: 0 10px;
    float: left;
    height: 45px;
}

.mt-element-list .list-default.mt-list-container ul>.mt-list-item>.list-item-content>h3>a:hover {
    color: #563473;
}

.list-datetime-custom
{
    text-align: center !important;
    float: right !important;
    width: 140px !important;
    margin: 0 5px;
}
.mt-list-item-custom
{
    min-height: 55px !important;
}
.page-content {
    background: transparent;
    min-height: 550px;
}
#administrator-control-bar {
    background-color: #232a2e !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
#administrator-control-bar .container {
    background-color: transparent  !important;
}

.vmaps {
    height: 320px;
}

.top_countries
{
    top: 180px;
    left: 0px;
    position: absolute;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    line-height: 10px;
    /*text-align: center;*/
}

.top_countries ul
{
    list-style: none;
    float: left;
}
.top_countries ul li
{
    line-height: 1.2em;
    text-align: left;
}
select
{
    color:#000;
}
#administrator-control-bar h3{
    line-height: 1em !important;
    margin: 0 !important;
    padding-top: 5px;
}

.text-custom
{
    padding: 6px 0 !important;
    color: #BCC2CB !important;
}

.mt-element-list .list-default.mt-list-container
{
    padding-bottom: 40px;   
}
.mt-element-list .list-default.mt-list-container ul>.mt-list-item:first-child {
    padding-top: 0;
    border: none;
}
.mt-element-list .list-default.mt-list-container ul>.mt-list-item
{
    border: none; 
}

.control-label {
    color: #676767;
    /*float: left;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    width: 160px;
}

@media (min-width: 768px)
{
    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
        width: 160px;
    }
}

.tab-pane .row,.form-inputs .row
{
    margin-bottom: 10px;
}
.alert-info-custom
{
    /*    background-color: #f2f2f2;
        border-color: #e0ebf9;
        color: #4a2e62;*/
    background-color: transparent;
    border-color: transparent;
    color: #4a2e62;
    padding-left: 0;
}
.container-custom
{
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-shadow: none;
    color: #4a2e62;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #4a2e62;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {
    color: #dacbe7;
}

.btn.btn-outline.purple:hover, .btn.btn-outline.purple:active, .btn.btn-outline.purple:active:hover, .btn.btn-outline.purple:active:focus, .btn.btn-outline.purple:focus, .btn.btn-outline.purple.active {
    color: #fff;
    background-color: #4a2e62;
    border-color: #4a2e62;
}
.grid-operations
{
    position: initial !important;
    height: initial !important;
    margin-bottom: 10px;
    color: #8775a7 !important;
}
.grid-operations a {
    /*    color: #0077cc !important;
        font-size: 14px !important;*/
}
.grid-operations a.main-action {
    text-decoration: none !important;
}

.grid-operations span.label {
    font-size: 15px !important;
}

.grid th {
    background-color: #fbfcfd !important;
    height: initial  !important;
}

.note p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5em;
}

.note.note-info {
    background-color: #fff;
    border-color: #4a2e62;
    color: #010407;

    /*    background-color: white;
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 50%, #E6E6E6 100%);*/
    /*border: 1px solid #CECECE;*/
    /*border-radius: 4px;*/
    /*    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
        box-sizing: border-box;*/
    /*border-bottom: 2px solid #ccc;*/
    /*box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);*/
}

.note h1, .note h2, .note h3, .note h4, .note h5, .note h6
{
    color: #796799 !important;
}
.page-content-inner
{
    min-height: 510px;
}

.error
{
    color:red;
}

.nav-tabs
{
    float: left !important;
}
div.form-row {
    background-color: transparent !important;
    color: #333333;
    /*clear: both;*/
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 15px !important;
    font-size: 14px !important;
}
div.form-row-note.personalization.focus
{
    background: #f5f8fd !important;
    color:#676767 !important;
    padding: 0  !important;
}
div.form-row-note.personalization {
    width: auto !important;
    margin-left: initial  !important;
}
.bg-grey-gallery {
    background: #444d58!important;
}
.mt-element-list .list-news.mt-list-container ul > .mt-list-item
{
    border-bottom: 2px solid;
}
.mt-element-list .list-news.ext-1 .list-thumb img {
    width: 60%;
}
.mt-element-list .list-news.mt-list-head .list-title
{
    font-size: 20px;
    font-weight: 400;
}

.mt-element-list .list-news.mt-list-container ul > .mt-list-item {

    border-color: #ccc;
}

.pricing-content-1 .price-table-head {
    padding: 0px 0!important;
    background: #796799 !important
}
.pricing-content-1 .price-table-head h2 {
    font-size: 16px !important;
    color: #fff;
}
.pricing-content-1 .price-table-pricing > h3 {
    font-size: 16px !important;
    font-weight: bold;
}
.pricing-content-1 .price-table-pricing > h3 > .price-sign {
    font-size: 16px !important;
}
.border-top-purple,.border-top-red,.border-top-green,.border-top-purple
{
    border-top-color: #796799 !important
}
.pricing-content-1 .price-table-content
{
    font-size: 14px !important;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 19px !important;
}
.note {
    border-left: 3px solid #eee;
}

.grid span.label, .small-grid span.label
{
    background-color: #3598dc !important;
    border: 1px solid #3598dc !important;
    font-size: 14px !important;
    padding: 2px 5px !important;
    color: #fff !important;
}
.mt-element-list .list-news.mt-list-container ul > .mt-list-item > .list-item-content > h3 > a
{
    color: #0077cc !important;
    font-weight: bold;
    font-size: 15px;
}
.font-blue
{
    color: #0077cc !important;
    /*color: #67809F !important;*/
}

.form .form-section {
    font-weight: 500;
    font-size: 15px;
}
div.button-steps .step-button.current-step {
    border-color: #563473 !important;
    color: #563473 !important;
}
div.button-steps .step-button.border-current-right {
    border-right: 1px solid #563473 !important;
}
div.checkbox-row {
    margin-left: 0 !important;
}
.form .form-section {
    margin: 30px 0px 20px 0px !important;
}

#top {
    background-color: #563473 !important;
    border-bottom: 1px solid #563473 !important;
}
#top.iguana ul.tabs {
    padding-top: 5px !important;
}
#top ul.tabs li a
{
    color: #fff !important;
    font-weight: 300 !important;
}
.portlet.light.bg-inverse {
    /*background: #FAFAFA !important;*/ 
    background: #fff !important;
}
.page-container-bg-solid .inbox .inbox-sidebar {
    /*background: #FAFAFA !important;*/
    background: #fff !important;
}
.page-container-bg-solid .inbox .inbox-body {
    /*background: #FAFAFA !important;*/
    background: #fff !important;
    border: 0;
}
.portlet.light {
    /*background-color: #FAFAFA !important;*/
    /*background-color: #f5f8fd !important;*/
}
.note.note-info {
    /*background-color: #FAFAFA !important;*/
    /*background: #fff !important;*/
}
.mt-element-list .list-news.mt-list-container
{
    /*background-color: #FAFAFA !important;*/
    background: #fff !important;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle
{
    background-color: transparent !important;
}
.grid-operations
{
    padding: 10px 0 !important;
}
.tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

#top ul.tabs li a
{
    background-color: #e1e5ec !important;
    color:#000  !important;
}
.tabbable-custom > .tab-content {
    border-top: none;
}

input[type="text"],select {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;

    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.widget-thumb .widget-thumb-wrap a
{
    font-size: 14px;
}

.profile-sidebar {
    width: 250px !important;
}

.inbox .inbox-nav > li.active > a {
    border-left: 4px solid #526781 !important;
}
.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #25458B;
    margin-top: 0;
    position: relative;
}

.bg-primary {
    background-color: #67809F;
}
.legendLabel
{
    padding-left: 10px;
}

.btn.default:not(.btn-outline)
{
    color: #796799;
    font-size: 15px !important;
    font-weight: 700;
    /*background-color: #fbfcfd;*/
    background-color: transparent;
    border-color: #e0ebf9;
    border:none;
}
.btn.default:not(.btn-outline):hover {
    color: #796799;
    background-color: #FAFAFA;
    /*background-color: #f2f2f2;*/
    /*background-color: #fbfcfd;*/
    border-color: #bcc5d4;
}

.btn.default:not(.btn-outline):active, .btn.default:not(.btn-outline).active, .open > .btn.default:not(.btn-outline).dropdown-toggle {
    color: #796799;
    /*background-color: #f2f2f2;*/
    background-color: #fbfcfd;
    border-color: #bcc5d4;
}


#form-style-chooser
{
    background-color: #f6f9fb !important;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 0px;
    left: 0px !important;
    width: auto;
    height: auto !important;
    padding: 0px 15px 15px 15px !important;
    margin-bottom: 30px;
}
#form-preview-tab {
    background-image: none !important;
}
#form-preview
{
    margin-top: 80px;
}
#form-preview
{
    width: 400px;
    margin-left: -20px;
}

.main-action-with-menu a.main-action
{
    height: 30px !important;
    /*padding: 5px 15px 5px 5px !important;*/
    width: 100%;
    padding: 5px 16px !important;
    background-color: #fff;
    border: 1px solid #c2cad8 !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    color: #555 !important;

}
.main-action-menu {
    border: 1px solid #c2cad8 !important;
    width:100%;
}

.main-action-with-menu
{
    margin-right: 10px !important;
}
.main-action-with-menu .down-arrow
{
    top: 18px !important; 
}
.main-action-menu li a {
    /*padding: 2px 5px !important;*/ 
}
.grid-operations a {
    color: #796799 !important; 
}
.rule-board .rules ul li.rule
{
    /*width: 100%;*/
    text-align: left;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    border: none !important; 
}
.rule-board {
    background-image: none !important; 
    border: none !important; 
    padding: 0 !important; 
}
.rule-board .rules > ul > li > .add,.rule-board .rules ul li.rule > .delete
{
    padding-left: 8px;
}
.rule-board .rules > ul > li > .add
{
    font-size: 16px !important; 
    top: 10px !important; 
}
.rule-board .rules ul li.rule > .delete
{
    font-size: 10px !important; 
    top: 10px !important; 
}
.rule-board .rules ul li.rule input
{
    height: 34px !important; 
}
.panel-info>.panel-heading
{
    color: #796799;
    background-color: #fbfcfd;
    border-color: #e0ebf9;

}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled
{
    font-weight: 600 !important;
}
.small-grid th {
    background-color: #fbfcfd !important;
}

.progress-bar
{
    border: none !important;
    height: 100% !important;
    margin: 0 !important;
}

.mt-checkbox-custom
{
    font-size: 12px;
    padding-left: 23px;
}
.mt-checkbox-inline .mt-checkbox-custom
{
    margin-right: 5px;
}

.amcharts-chart-div a
{
    display: none !important;
}


.pagination>li>a, .pagination>li>span
{
    line-height: 14px !important;
}

.table-custom>tbody>tr>td
{
    border-top: none !important;
    vertical-align: middle;
}
/*@media (max-width: 480px)*/
/*{*/
.page-header .top-menu, .page-header .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle, .page-header-fixed-mobile .page-header .top-menu
{
    background-color: transparent !important;
}
/*}*/

@media (max-width: 991px)
{
    .page-header .search-form .input-group .input-group-btn .btn.submit.active, .page-header .search-form .input-group .input-group-btn .btn.submit:active, .page-header .search-form .input-group .input-group-btn .btn.submit:focus, .page-header .search-form .input-group .input-group-btn .btn.submit:hover {

        background: #796799 !important;
    }
}
@media (max-width: 991px)
{
    .page-header .search-form .input-group .input-group-btn .btn.submit {
        background: #796799 !important;
    }
}
@media (max-width: 991px)
{
    .page-header .page-header-menu .hor-menu .navbar-nav>li:hover>a {
        color: #796799 !important;
    }
}
@media (max-width: 991px)
{
    .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover, .page-header .page-header-menu .hor-menu .navbar-nav>li.open>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.open>a:hover {
        background: #796799!important;
    }
}

.page-prefooter a, .page-prefooter h2 {
    color: #ffffff !important;
}


.items {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    margin-bottom: 0
}
.items-custom
{
    float: none;
}
.items.dashboard .item {
    border-radius: 6px
}
.items .item {
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid #e3e3e3;
    padding: 2px 20px;
    border-width: 2px 0 1px 0;
    background: #fff
}
.items .item-custom
{
    padding: 10px 20px;
}
.items .item:first-child {
    /*    border-top-left-radius: 6px;
        border-top-right-radius: 6px*/
}
.items .item:last-child {
    /*    border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px*/
}
.items .item:hover {
    background: #ffc;
    /*border: 2px solid #e3e3e3;*/
}
.items .item.loader:hover {
    background: #fff
}
.items .item .move {
    top: 0;
    left: 0;
    position: absolute;
    width: 30px
}
.items .item .move .handle {
    background: url('/assets/images/handle.png');
    background-size: 12px 20px;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: move;
    width: 30px;
    display: block;
    height: 30px;
    margin-top: 5px
}
.items .item .input-check {
    position: absolute;
    top: 5px;
    left: 30px
}
.items .item .input-check.autoresponder-check {
    left: 10px;
    top: 0
}
.items .item .btn-delete {
    margin-left: 10px
}
.items .item .preview {
    float: left;
    display: block;
    margin-right: 20px
}
.items .item .preview img {
    border-radius: 6px;
    border: 2px solid #e3e3e3
}
.items .item .mobile-controls {
    width: 100%;
    margin-top: 15px
}
.items .item .mobile-controls .btn {
    float: left;
    padding: 0 0;
    margin-right: 15px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-family: ProximaNova-Bold;
    font-weight: normal
}
.items .item .controls .btn {
    float: left;
    margin-left: 10px
}
.items .item .controls .btn-group .btn-more {
    margin-left: 0
}
.items .item .steps li {
    line-height: 30px
}
.items .item .steps li a {
    color: #666
}
.items .item .steps li a:hover {
    color: #00a154
}
.items .item .steps li a.btn-green {
    color: #fff;
    font-size: 15px
}
.items .item .steps li:after {
    margin: 0 8px 0 10px
}
.items .item .steps li.inactive a {
    color: #ccc
}
.items .item .steps li.inactive a:hover {
    color: #00a154
}
.items .item .group-details {
    padding-left: 50px
}
.items .item .autoresponder-details {
    padding-left: 30px
}
.items .item .integration-details img,
.items .item .facebook-pages img {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-right: 15px
}
.items .item .campaign-details,
.items .item .group-details,
.items .item .autoresponder-details,
.items .item .integration-details,
.items .item .facebook-pages,
.items .item .review-groups,
.items .item .webform-details {
    float: left;
    width: 100%
}
.items .item .campaign-details h4,
.items .item .group-details h4,
.items .item .autoresponder-details h4,
.items .item .integration-details h4,
.items .item .facebook-pages h4,
.items .item .review-groups h4,
.items .item .webform-details h4 {
    font-family: ProximaNova-Bold;
    font-weight: normal;
    font-size: 18px;
    margin: 5px 0 5px 0;
    line-height: 22px
}
.items .item .campaign-details h4 a,
.items .item .group-details h4 a,
.items .item .autoresponder-details h4 a,
.items .item .integration-details h4 a,
.items .item .facebook-pages h4 a,
.items .item .review-groups h4 a,
.items .item .webform-details h4 a {
    color: #000
}
.items .item .campaign-details h4 a:hover,
.items .item .group-details h4 a:hover,
.items .item .autoresponder-details h4 a:hover,
.items .item .integration-details h4 a:hover,
.items .item .facebook-pages h4 a:hover,
.items .item .review-groups h4 a:hover,
.items .item .webform-details h4 a:hover {
    text-decoration: none
}
.items .item .campaign-details .type,
.items .item .group-details .type,
.items .item .autoresponder-details .type,
.items .item .integration-details .type,
.items .item .facebook-pages .type,
.items .item .review-groups .type,
.items .item .webform-details .type {
    display: block;
    color: #666;
    margin-bottom: 10px;
    line-height: 20px
}
.items .item .campaign-details .version,
.items .item .group-details .version,
.items .item .autoresponder-details .version,
.items .item .integration-details .version,
.items .item .facebook-pages .version,
.items .item .review-groups .version,
.items .item .webform-details .version {
    font-size: 18px;
    margin-bottom: 15px
}
.items .item .campaign-details .version .badge,
.items .item .group-details .version .badge,
.items .item .autoresponder-details .version .badge,
.items .item .integration-details .version .badge,
.items .item .facebook-pages .version .badge,
.items .item .review-groups .version .badge,
.items .item .webform-details .version .badge {
    background: #00a154
}
.items .item .campaign-details .description,
.items .item .group-details .description,
.items .item .autoresponder-details .description,
.items .item .integration-details .description,
.items .item .facebook-pages .description,
.items .item .review-groups .description,
.items .item .webform-details .description {
    display: block;
    color: #666
}
.items .item .campaign-details .column-block,
.items .item .group-details .column-block,
.items .item .autoresponder-details .column-block,
.items .item .integration-details .column-block,
.items .item .facebook-pages .column-block,
.items .item .review-groups .column-block,
.items .item .webform-details .column-block {
    padding-left: 140px
}
.items .item .review-groups {
    padding-left: 10px;
    padding-right: 10px
}
.items .item .review-groups h4 {
    margin-top: 0
}
.items .item .review-groups .type {
    margin-bottom: 0
}
.items .item .review-groups .btn-remove {
    position: absolute;
    top: 20px;
    right: 30px
}
.items .item .select-subscribers {
    float: left;
    width: 100%
}
.items .item .select-subscribers .check-box {
    float: left;
    margin-right: 15px
}
.items .item .select-subscribers label {
    float: left;
    font-family: ProximaNova-Bold;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    line-height: 20px;
    cursor: pointer
}
.items .item .select-subscribers.excluded label {
    text-decoration: line-through;
    color: #666
}
.items .item .select-subscribers .subscriber-number {
    font-size: 16px;
    color: #666;
    line-height: 20px;
    margin: 0 0 0 30px
}
.items .item .select-subscribers .segment,
.items .item .select-subscribers .exclude {
    font-size: 13px;
    margin-left: 15px;
    line-height: 20px;
    color: #666
}
.items .item .select-subscribers .segment {
    background-position: right top;
    padding-left: 12px;
    border-left: 1px solid #e3e3e3
}
.items .item .select-subscribers .segment.segment_down {
    background-position: right bottom
}
.items .item .select-subscribers .excluded {
    margin-left: 15px;
    line-height: 20px;
    color: #666
}
.items .item .segment-list {
    margin-top: 20px;
    list-style: none;
    padding-left: 35px
}
.items .item .segment-list li {
    float: left;
    width: 100%;
    margin-bottom: 15px
}
.items .item .segment-list li .check-box {
    margin-right: 15px
}
.items .item .segment-list li label {
    float: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    cursor: pointer
}
.items .item .segment-list li label.excluded {
    text-decoration: line-through;
    color: #666
}
.items .item .segment-list li .segment-number {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin: 0 0 0 30px
}
.items .item .segment-list li .exclude {
    font-size: 13px;
    margin-left: 15px;
    line-height: 20px;
    color: #666
}
.items .item .segment-list li .exclude.excluded {
    color: #666
}
.items .item .segment-list li:last-child {
    margin-bottom: 0
}
.items .item .stats {
    float: none
}
.items .item .stats ul {
    padding-left: 0;
    list-style: none
}
.items .item .stats ul li {
    float: left;
    display: inline;
    width: 120px
}
.items .item .stats ul li .number {
    display: block;
    font-family: ProximaNova-Bold;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    margin: 5px 0 5px 0;
    color: #000;
    text-align: center;
}
.items .item .stats ul li .number.mouse-over {
    display: none
}
.items .item .stats ul li .number a {
    color: #000
}
.items .item .stats ul li .description {
    display: block;
    color: #666;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    text-align: center;
}
.items .item .stats ul li.opened {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 3px solid #00a154
}
.items .item .stats ul li.clicked {
    /*padding-left: 15px;*/
    padding-left: 5px;
    padding-right: 5px;
    /*border-left: 3px solid #2980b9;*/
    position: relative;
}
.items .item .stats ul li.clicked::before 
{
    content: '';
    /*border-left: 2px solid #000;*/
    border-left: 3px solid #3f74a3;
    position: absolute;
    height: 40%;
    left: 0;
    top: 25%;

}
.items .item-custom .stats ul li.clicked::before 
{
    content: '';
    /*border-left: 2px solid #000;*/
    border-left: 3px solid #3f74a3;
    position: absolute;
    height: 70%;
    left: 0;
    top: 25%;

}
.items .item .stats:hover .mouse-over {
    display: block !important
}
.items .item .stats:hover .mouse-out {
    display: none !important
}
.webform-details a.preview {
    border-radius: 6px;
    border: 2px solid #e3e3e3
}

.dropdown-menu > li > a
{
    text-transform: none;
}


.secondmenu
{
    background: #ffffff;
    padding: 20px;
}

.tab-custom > .nav-tabs > li > a
{
    font-size: 15px;
    padding: 0 25px 15px 25px;
    font-weight: 600;
}
.tags-horiz{
    margin: 0;
    float: left;
    list-style: none;
    padding: 0;
}
.tags-horiz>li {
    float: left;
}
.tags-horiz>li>a {
    font-size: 14px !important;
    font-weight: 400;
    padding: 3px 18px 3px;
    font-weight: bold;
}


.grid .zebra ,.small-grid .zebra {
    /*background-color: #fff !important;*/
    background-color: transparent !important;
}
.open > .btn.default:not(.btn-outline).dropdown-toggle:hover{
    background-color: #FAFAFA;
}

.grid span.label, .small-grid span.label
{
    /*float: left !important;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: none;
}
.csspie.thumb-blue
{
    margin-top: 8px;
}

.dashboard-stat2{
    background: transparent;
}

.dashboard-stat2 .display .number h3
{
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    color: #1ac6ff;
    text-align: center;
    width: 100%;
}
.dashboard-stat2 .display .number a
{
    color: #1ac6ff;
    /*color: #2AB4C0;*/
    text-decoration: none;
}
.dashboard-stat2 .display .number small
{
    color: #333;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.dashboard-stat2 .display .number {
    float: initial;
    width:100%;
    text-align: center;
}
.status .status-title
{
    text-align: center;   
}
.col-md-custom
{
    width: 14.285714%;
    padding-right: 0;
    padding-left: 0;
}



/* 14.14 Counter */
.vsc_counter {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: top;
    opacity: 0;
    z-index: 0;
}
.vsc_counter.no-animation,
.vsc_counter.vsc_ready {
    opacity: 1;
}
.vsc_counter .vsc_counter_label {
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    line-height: 1;
    white-space: nowrap;
}
.vsc_counter .vsc_counter_label .icon {
    display: inline-block;
    width: auto;
    height: auto;
    padding-top: 5px;
    margin: 0;
    font-size: 45px;
    font-weight: inherit;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}
.vsc_counter .vsc_counter_label.top .icon {
    display: block;
}
.vsc_counter .vsc_counter_label.left .icon {
    margin-right: 15px;
}
.separator:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -17px;
    width: 1px;
    height: 34px;
    background: #d5d4d3;
    /*background: red;*/
}
.vsc_counter.separator .vsc_counter_label.top:after {
    margin-top: 10px;
}
.vsc_counter .vsc_counter_value {
    display: inline-block;
    max-width: 100%;
    /*font-size: 70px;*/
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    vertical-align: middle;
}
.vsc_counter .vsc_counter_title {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    color: #333;
}
.vsc_counter i.units {
    font-style: normal;
    font-size: 65%;
    color: inherit;
}
.darker-overlay .vsc_counter i.units,
.lighter-overlay .vsc_counter i.units {
    color: inherit;
}

.base_clr_txt
{
    color: #1ac6ff;
}


.progress-bar-success
{
    background-color: #36c6d3 !important;
}



.page-header .page-header-menu .hor-menu .navbar-nav>li>a, .page-header .page-header-menu .hor-menu .navbar-nav>li>a>i{
    /*color: #999;*/
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li.active>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.active>a:hover, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a, .page-header .page-header-menu .hor-menu .navbar-nav>li.current>a:hover {
    color: #fff;
    font-weight: 600;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li.open>a, .page-header .page-header-menu .hor-menu .navbar-nav>li:hover>a, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:active, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:focus, .page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover {
    color: #fff;
    font-weight: 600;
}
/*
.page-header .page-header-menu {
    background: #5E738B;
}*/

.page-header .page-header-menu .search-form, .page-header .page-header-menu .search-form .input-group {
    background: #E9EDEF;
}
.page-header .page-header-menu .search-form .input-group .form-control {
    color: #333;
    background: #E9EDEF;
}
/*
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu {
    background: #444d58;
    border: 0;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
    color: #E9EDEF;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a
{
    background-color: #525E64;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a:hover, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:hover {
    background: #373e47;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
    color: #fff;
}*/

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:active,
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:focus,
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a:visited
{
    background: #373e47;  
}
.campaign-details-custom
{
    margin-top: -5px;
    margin-left: 5px;
}

.dashboard-stat2-vertical
{
    padding: 5px 5px 0px 5px;
    margin-bottom: 0px; 
}

.data {
    color: #796799 !important;
    font-weight: bold;
}

.btn.default:not(.btn-outline):focus, .btn.default:not(.btn-outline).focus {
    color: #796799;
    background-color: #FAFAFA;
    border-color: #bcc5d4;
}
.btn.default:not(.btn-outline):active:hover, .btn.default:not(.btn-outline):active:focus, .btn.default:not(.btn-outline):active.focus, .btn.default:not(.btn-outline).active:hover, .btn.default:not(.btn-outline).active:focus, .btn.default:not(.btn-outline).active.focus, .open > .btn.default:not(.btn-outline).dropdown-toggle:hover, .open > .btn.default:not(.btn-outline).dropdown-toggle:focus, .open > .btn.default:not(.btn-outline).dropdown-toggle.focus
{
    color: #796799;
    background-color: #FAFAFA;
    border-color: #bcc5d4;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a {
    font-weight: 600;
    font-size: 13px;
}

.operations-custom
{
    background: transparent;
    margin-bottom: 10px;
    /*padding: 10px;*/
}
.portlet-transparent
{
    background: transparent !important;
    padding: 0 !important;
    /*padding-top: 0 !important;*/
}

.number-small
{
    font-size: 15px !important;
    font-weight: 600 !important;
}

.progress
{
    height: 30px !important;
    background-color: rgba(26, 198, 255, 0.2);
}
.data-blue
{
    color:#A52D69 !important;
}
.data-orange
{
    color:#F3C200 !important;
}

.status-number{
    text-align: right;
}



header {
    background: #2c3f4c;
    position: relative;
}
header h1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 4em 0;
    color: #ffffff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-size: 2rem;
}
@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
}


/* -------------------------------- 

Basic Style

-------------------------------- */
.cd-breadcrumb, .cd-multi-steps {
    width: 90%;
    max-width: 768px;
    padding: 0.5em 1em;
    margin: 0;
    background-color: #edeff0;
    border-radius: .25em;
}
.cd-breadcrumb::after, .cd-multi-steps::after {
    clear: both;
    content: "";
    display: table;
}
.cd-breadcrumb li, .cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
    /* single step */
    display: inline-block;
    font-size: 1em;
    color: #2c3f4c;
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
    /* selected step */
    /*color: #96c03d;*/
    color: #8877a9;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    /*color: #96c03d;*/
    color: #8877a9;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
    /* replace the default separator with a custom icon */
    content: '';
    height: 16px;
    width: 16px;
    background: url(../img/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}
.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
    /* add a custom icon before each item */
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4em;
    margin-top: -2px;
    background: url(../img/cd-custom-icons-01.svg) no-repeat 0 0;
    vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
    /* change custom icon using image sprites */
    background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
    background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
    background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
    /* change custom icon for the current item */
    background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
    background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
    background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
    background-position: -60px -20px;
}
@media only screen and (min-width: 768px) {
    .cd-breadcrumb, .cd-multi-steps {
        padding: 0 1.2em;
    }
    .cd-breadcrumb li, .cd-multi-steps li {
        margin: 1.2em 0;
    }
    .cd-breadcrumb li::after, .cd-multi-steps li::after {
        margin: 0 1em;
    }
    .cd-breadcrumb li > *, .cd-multi-steps li > * {
        font-size: 1em;
    }
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */

@media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle {
        /* reset basic style */
        background-color: transparent;
        padding: 0;
    }
    .cd-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 4px 4px 0;
    }
    .cd-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }
    .cd-breadcrumb.triangle li > * {
        position: relative;
        padding: 1em .8em 1em 2.5em;
        color: #2c3f4c;
        background-color: #edeff0;
        /* the border color is used to style its ::after pseudo-element */
        border-color: #edeff0;
    }
    .cd-breadcrumb.triangle li.current > * {
        /* selected step */
        color: #ffffff;
        background-color: #8877a9;
        border-color: #8877a9;
    }
    .cd-breadcrumb.triangle li:first-of-type > * {
        padding-left: 1.6em;
        border-radius: .25em 0 0 .25em;
    }
    .cd-breadcrumb.triangle li:last-of-type > * {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0;
    }
    .cd-breadcrumb.triangle a:hover {
        /* steps already visited */
        color: #ffffff;
        background-color: #8877a9;
        border-color: #8877a9;
        text-decoration: none;
    }
    .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
        /* 
            li > *::after is the colored triangle after each item
            li::after is the white separator between two items
        */
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        height: 0;
        width: 0;
        /* 48px is the height of the <a> element */
        border: 24px solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
    }
    .cd-breadcrumb.triangle li::after {
        /* this is the white separator between two items */
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: #ffffff;
        /* reset style */
        margin: 0;
    }
    .cd-breadcrumb.triangle li > *::after {
        /* this is the colored triangle after each element */
        z-index: 2;
        border-left-color: inherit;
    }
    .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
        /* hide the triangle after the last step */
        display: none;
    }
    .cd-breadcrumb.triangle.custom-separator li::after {
        /* reset style */
        background-image: none;
    }
    .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
        /* 50px is the height of the <a> element */
        border-top-width: 25px;
        border-bottom-width: 25px;
    }

    @-moz-document url-prefix() {
        .cd-breadcrumb.triangle li::after,
        .cd-breadcrumb.triangle li > *::after {
            /* fix a bug on Firefix - tooth edge on css triangle */
            border-left-style: dashed;
        }
    }
}
/* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
@media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
        /* change custom icon using image sprites - hover effect or current item */
        background-position: 0 -40px;
    }
    .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
        background-position: -20px -40px;
    }
    .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
        background-position: -40px -40px;
    }
    .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
        background-position: -60px -40px;
    }
}
/* -------------------------------- 

Multi steps indicator 

-------------------------------- */
@media only screen and (min-width: 768px) {
    .cd-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
        text-align: center;
    }

    .cd-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 40px 0.4em 0;
    }
    .cd-multi-steps li:last-of-type {
        margin-right: 0;
    }
    .cd-multi-steps li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        /* reset style */
        margin: 0;
    }
    .cd-multi-steps li.visited::after {
        background-color: #96c03d;
    }
    .cd-multi-steps li > *, .cd-multi-steps li.current > * {
        position: relative;
        color: #2c3f4c;
    }

    .cd-multi-steps.custom-separator li::after {
        /* reset style */
        height: 4px;
        background: #edeff0;
    }

    .cd-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }
    .cd-multi-steps.text-center li > * {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: #edeff0;
    }
    .no-touch .cd-multi-steps.text-center a:hover {
        background-color: #2c3f4c;
    }
    .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
        color: #ffffff;
        background-color: #96c03d;
    }
    .cd-multi-steps.text-center.custom-icons li.visited a::before {
        /* change the custom icon for the visited item - check icon */
        background-position: 0 -60px;
    }

    .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
        width: 80px;
        text-align: center;
    }
    .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: calc(100% + 40px);
    }
    .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #edeff0;
    }
    .cd-multi-steps.text-top li.visited > *::before,
    .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
    .cd-multi-steps.text-bottom li.current > *::before {
        background-color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
        color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }

    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }
    .cd-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }
    .cd-multi-steps.text-top li > *::before {
        /* this is the spot indicator */
        bottom: 0;
    }

    .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        top: 3px;
    }
    .cd-multi-steps.text-bottom li > * {
        padding-top: 20px;
    }
    .cd-multi-steps.text-bottom li > *::before {
        /* this is the spot indicator */
        top: 0;
    }
}
/* -------------------------------- 

Add a counter to the multi-steps indicator 

-------------------------------- */
.cd-multi-steps.count li {
    counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
    content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
    .cd-multi-steps.text-top.count li > *::before,
    .cd-multi-steps.text-bottom.count li > *::before {
        /* this is the spot indicator */
        content: counter(steps);
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 1.4rem;
        color: #ffffff;
    }

    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
        /* steps not visited yet - counter color */
        color: #2c3f4c;
    }

    .cd-multi-steps.text-top.count li::after {
        bottom: 11px;
    }

    .cd-multi-steps.text-top.count li > * {
        padding-bottom: 34px;
    }

    .cd-multi-steps.text-bottom.count li::after {
        top: 11px;
    }

    .cd-multi-steps.text-bottom.count li > * {
        padding-top: 34px;
    }
}
.cd-breadcrumb a.disabled {
    border: 1px solid #DBDBDB;
    color: #C1C1C1;
    cursor: default;
    pointer-events: none;
}
.cd-breadcrumb-custom
{
    float: right;
    width:initial;
}


.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu
{
    background: #444d58;
}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a
{
    color:#fff;
}

.page-header .dropdown-menu > li:hover > a, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a {
    text-decoration: none;
    background-image: none;
    background: #373e47;
    color: #555;
    filter: none;
}

.items .item .preview img
{
    width:120px;
    height: 105px;
}
.main-action-with-menu
{
    z-index: 10000 !important;
}


.page-header .page-header-menu .search-form.open   
{
    width:200px !important;
}


.menu-footer {
    text-align: center;
    padding: 0;
    margin: 0;
    float: right;
}

.menu-footer li {
    display: inline;
    padding: 10px;
    font-size: 16px;
    list-style-type: none;
    font-weight: 300;
    color: #fff;
}

.menu-footer a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.7 !important;
    text-decoration: none;
    text-shadow: none;
}

.menu-footer-vertical{
    padding: 0;
    margin: 0;
}

.menu-footer-vertical li {
    /*display: inline;*/
    padding: 10px;
    list-style-type: none;
}
.menu-footer-vertical a {

    font-weight: 700;
    font-size: 15px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}

.dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a
{
    background-color: #f6f6f6;
    color: #555;
}

.note-custom{
    background-color: #f5f8fd !important;
    border-color: #796799 !important;
    color: #010407 !important;
}
.note-custom h4
{
    font-weight: 500;
    margin-bottom: 0px;
}
.email-template.selected
{
    border-width: 8px !important;
}
.email-template
{
    height: 220px !important;
}
.nav-custom
{
    width: 100%;
    float: right !important;
    margin-bottom: 0;
    border: none;
}
.nav-custom>li
{
    width: 100%;
    text-align: center;
    border: none;
}
.nav-custom>li.active>a:hover {
    color: #796799;
    background-color: #FAFAFA;
    border-color: #bcc5d4;
}
.nav-custom>li.active>a, .nav-custom>li.active>a:focus, .nav-custom>li.active>a:hover
{
    color: #796799;
    font-size: 15px !important;
    font-weight: 700;
    border: none;
    text-transform: initial;
}

.nav-custom > li > a{
    color: #796799;
    font-size: 15px !important;
    font-weight: 700;
}
.nav-custom>li>a:focus, .nav-custom>li>a:hover
{
    background-color: #FAFAFA;
    border: none;
}
.nav-custom .dropdown.open > .dropdown-toggle {
    background-color: #FAFAFA;
    border: none;
    color: #796799;
}
.tab-content-custom{
    background-color: transparent;
    border: none;
    padding: 0;
}
.rule-board-custom{
    width:100% !important;
}
.rule-board-custom .rules{
    padding-top: 0 !important;
}
.rule-board-custom .rules > ul > li > .add,.rule-board-custom .rules ul li.rule > .delete,
.rule-board .rules > ul > li > .add,.rule-board .rules ul li.rule > .delete
{
    display: initial !important;
}

.rule-board .rules {
    padding-top: 8px !important;
}

.page-prefooter .social-icons
{
    /*padding: 10px;*/
    padding: 10px 0;
}
.page-prefooter
{
    padding: 10px 0 20px;
}

.remove-rule-button
{
    background-color: #C03B2E;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    position: absolute;
    width: 24px;
    text-align: center;
    margin-left: 50px;
    margin-top: 2px;
    display: inline !important;
}
.rule-row
{
    margin-bottom: 10px;
}
.rule-separator {
    background-image: url(http://flyinglist.com/oempa/templates/weefive/images/rule_board_rule_sep.gif);
    background-position: top center;
    border: none;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 15px 0px 2px 5px;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 43px;
    z-index: 99;
}
/*
.main-action-menu
{
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    background-color: #ffffff;
    margin: 10px 0px 0px 0px;
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.main-action-menu > li > a {
    padding: 6px 16px !important;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    background-color: transparent;
}
.main-action-menu li a:hover,.main-action-menu li a:focus,.main-action-menu li a:active{
    text-decoration: none;
    color: #262626 !important;
    background-color: #e1e5ec !important;
    text-transform: none;
}*/
.ssl_certificate
{
    padding: 0;
}
.ssl_certificate a
{
    margin-left: 10px;
}

#tl_popupCL1
{
    z-index: 100 !important;
}
.payment-icons
{
    padding-left: 0;
}
.payment-icons li {
    list-style: none;

}
.image-payment {
    margin: 10px;
    width: 52px;
}

@media (max-width: 767px)
{
    .birdie-plan {
        width: 100% !important;
    }
    .plan-container > div.current-plan,.plan-container > div.monthly-plan,.plan-container > div.future-plan
    {
        width:100% !important;
        background:none !important;
        border-right: none !important;
        padding-bottom: 5px !important;
        margin-bottom: 25px !important;
        border-bottom: 1px solid #E2E2E2 !important;
        border-right: none !important;
        min-height: initial !important;
    }
    .birdie-plan {
        display: table !important;
    }
    .plan-container > div.current-plan {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .plan-container > div.monthly-plan
    {
        padding-right: 9px !important;
        padding-left: 0px !important;
    }
    .plan-container > div.future-plan
    {
        padding-right: 9px !important;
        padding-left: 0px !important;
    }
    a.birdie-button.inline
    {
        display: block !important;
        position: inherit !important;
    }
    .payment-icons
    {
        text-align: center;
    }
}

.sale-summary li .sale-desc {
    float: right;
    color: #646464;
    font-size: 14px;
    font-weight: 600;
}
.facebook,.twitter,.linkedin,.youtube,.pinterest,.instagram,.google-plus{
    text-decoration: none;
}