/* Cubic Bezier Transition */
/***
Invoice page
***/
.invoice {
    margin: 0; }
.invoice table {
    margin: 10px 0 30px 0; }

.invoice .invoice-logo {
    margin-bottom: 0px; }

.invoice .invoice-logo p {
    padding: 5px 0;
    font-size: 22px;
    line-height: 28px;
    text-align: right; }

.invoice .invoice-logo p span {
    display: block;
    font-size: 14px; }

.invoice .invoice-logo-space {
    margin-bottom: 0px; }

.invoice .invoice-payment strong {
    margin-right: 5px; }

.invoice .invoice-block {
    text-align: right; }

.invoice .invoice-block .amounts {
    margin-top: 20px;
    font-size: 14px; }

tr.border-bottom td {
    border-bottom: 1px solid #B9C8D2;
}
.border-top-dark
{
    border-top: 2px solid #B9C8D2; 
}

hr {
    margin:  0 !important;
}
